# Processing Dietary Total Nutrient Intake files (DRxTOT)

In [2]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [3]:
%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08

/Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08

In [5]:
path = './Diatery'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['./Diatery/DR1TOT_E.XPT', './Diatery/DSQTOT_E.XPT', './Diatery/DS2IDS_E.XPT', './Diatery/DR1IFF_E.XPT', './Diatery/DS1TOT_E.XPT', './Diatery/DR2TOT_E.XPT', './Diatery/DR2IFF_E.XPT', './Diatery/DSQIDS_E.XPT', './Diatery/DS2TOT_E.XPT', './Diatery/DS1IDS_E.XPT']

In [9]:
DR1TOT = pd.read_sas('./Diatery/DR1TOT_E.XPT', index='SEQN')
DR1TOT.shape

(9762, 163)

In [11]:
DR2TOT = pd.read_sas('./Diatery/DR2TOT_E.XPT', index='SEQN')
DR2TOT.shape

(9762, 82)

In [17]:
A = set(DR1TOT.columns)
print(sorted(A))
print('=====')
B = set(DR2TOT.columns)
print(sorted(B))
print('=====')
C = A & B
print(sorted(C))
print('=====')

['DBD100', 'DBQ095Z', 'DR1BWATZ', 'DR1DAY', 'DR1DBIH', 'DR1DRSTZ', 'DR1EXMER', 'DR1HELPD', 'DR1LANG', 'DR1MNRSP', 'DR1TACAR', 'DR1TALCO', 'DR1TATOA', 'DR1TATOC', 'DR1TB12A', 'DR1TBCAR', 'DR1TCAFF', 'DR1TCALC', 'DR1TCARB', 'DR1TCHL', 'DR1TCHOL', 'DR1TCOPP', 'DR1TCRYP', 'DR1TFA', 'DR1TFDFE', 'DR1TFF', 'DR1TFIBE', 'DR1TFOLA', 'DR1TIRON', 'DR1TKCAL', 'DR1TLYCO', 'DR1TLZ', 'DR1TM161', 'DR1TM181', 'DR1TM201', 'DR1TM221', 'DR1TMAGN', 'DR1TMFAT', 'DR1TMOIS', 'DR1TNIAC', 'DR1TNUMF', 'DR1TP182', 'DR1TP183', 'DR1TP184', 'DR1TP204', 'DR1TP205', 'DR1TP225', 'DR1TP226', 'DR1TPFAT', 'DR1TPHOS', 'DR1TPOTA', 'DR1TPROT', 'DR1TRET', 'DR1TS040', 'DR1TS060', 'DR1TS080', 'DR1TS100', 'DR1TS120', 'DR1TS140', 'DR1TS160', 'DR1TS180', 'DR1TSELE', 'DR1TSFAT', 'DR1TSODI', 'DR1TSUGR', 'DR1TTFAT', 'DR1TTHEO', 'DR1TVARA', 'DR1TVB1', 'DR1TVB12', 'DR1TVB2', 'DR1TVB6', 'DR1TVC', 'DR1TVD', 'DR1TVK', 'DR1TWS', 'DR1TZINC', 'DR1_300', 'DR1_320Z', 'DR1_330Z', 'DRABF', 'DRD340', 'DRD350A', 'DRD350AQ', 'DRD350B', 'DRD350BQ', 'DRD350C', 'DRD350CQ', 'DRD350D', 'DRD350DQ', 'DRD350E', 'DRD350EQ', 'DRD350F', 'DRD350FQ', 'DRD350G', 'DRD350GQ', 'DRD350H', 'DRD350HQ', 'DRD350I', 'DRD350IQ', 'DRD350J', 'DRD350JQ', 'DRD350K', 'DRD360', 'DRD370A', 'DRD370AQ', 'DRD370B', 'DRD370BQ', 'DRD370C', 'DRD370CQ', 'DRD370D', 'DRD370DQ', 'DRD370E', 'DRD370EQ', 'DRD370F', 'DRD370FQ', 'DRD370G', 'DRD370GQ', 'DRD370H', 'DRD370HQ', 'DRD370I', 'DRD370IQ', 'DRD370J', 'DRD370JQ', 'DRD370K', 'DRD370KQ', 'DRD370L', 'DRD370LQ', 'DRD370M', 'DRD370MQ', 'DRD370N', 'DRD370NQ', 'DRD370O', 'DRD370OQ', 'DRD370P', 'DRD370PQ', 'DRD370Q', 'DRD370QQ', 'DRD370R', 'DRD370RQ', 'DRD370S', 'DRD370SQ', 'DRD370T', 'DRD370TQ', 'DRD370U', 'DRD370UQ', 'DRD370V', 'DRDINT', 'DRQSDIET', 'DRQSDT1', 'DRQSDT10', 'DRQSDT2', 'DRQSDT3', 'DRQSDT4', 'DRQSDT5', 'DRQSDT6', 'DRQSDT7', 'DRQSDT8', 'DRQSDT9', 'DRQSDT91', 'DRQSPREP', 'WTDR2D', 'WTDRD1']
=====
['DR2BWATZ', 'DR2DAY', 'DR2DBIH', 'DR2DRSTZ', 'DR2EXMER', 'DR2HELPD', 'DR2LANG', 'DR2MNRSP', 'DR2TACAR', 'DR2TALCO', 'DR2TATOA', 'DR2TATOC', 'DR2TB12A', 'DR2TBCAR', 'DR2TCAFF', 'DR2TCALC', 'DR2TCARB', 'DR2TCHL', 'DR2TCHOL', 'DR2TCOPP', 'DR2TCRYP', 'DR2TFA', 'DR2TFDFE', 'DR2TFF', 'DR2TFIBE', 'DR2TFOLA', 'DR2TIRON', 'DR2TKCAL', 'DR2TLYCO', 'DR2TLZ', 'DR2TM161', 'DR2TM181', 'DR2TM201', 'DR2TM221', 'DR2TMAGN', 'DR2TMFAT', 'DR2TMOIS', 'DR2TNIAC', 'DR2TNUMF', 'DR2TP182', 'DR2TP183', 'DR2TP184', 'DR2TP204', 'DR2TP205', 'DR2TP225', 'DR2TP226', 'DR2TPFAT', 'DR2TPHOS', 'DR2TPOTA', 'DR2TPROT', 'DR2TRET', 'DR2TS040', 'DR2TS060', 'DR2TS080', 'DR2TS100', 'DR2TS120', 'DR2TS140', 'DR2TS160', 'DR2TS180', 'DR2TSELE', 'DR2TSFAT', 'DR2TSODI', 'DR2TSUGR', 'DR2TTFAT', 'DR2TTHEO', 'DR2TVARA', 'DR2TVB1', 'DR2TVB12', 'DR2TVB2', 'DR2TVB6', 'DR2TVC', 'DR2TVD', 'DR2TVK', 'DR2TWS', 'DR2TZINC', 'DR2_300', 'DR2_320Z', 'DR2_330Z', 'DRABF', 'DRDINT', 'WTDR2D', 'WTDRD1']
=====
['DRABF', 'DRDINT', 'WTDR2D', 'WTDRD1']
=====

# Processing KCAL

In [43]:
KCAL1 = DR1TOT['DR1TKCAL']
print('KCAL1 shape = ', KCAL1.shape)
print(KCAL1.head())
print(KCAL1.describe())

KCAL1 shape =  (9762,)
SEQN
41475.0    1598.0
41476.0    2093.0
41477.0     914.0
41478.0    1148.0
41479.0    2910.0
Name: DR1TKCAL, dtype: float64
count    9.118000e+03
mean     1.934240e+03
std      9.768264e+02
min      5.397605e-79
25%      1.278000e+03
50%      1.756000e+03
75%      2.391000e+03
max      1.350900e+04
Name: DR1TKCAL, dtype: float64

In [42]:
KCAL2 = DR2TOT['DR2TKCAL']
print('KCAL2 shape = ', KCAL2.shape)
print(KCAL2.head())
print(KCAL2.describe())

KCAL2 shape =  (9762,)
SEQN
41475.0    1459.0
41476.0    1351.0
41477.0    1925.0
41478.0       NaN
41479.0    1615.0
Name: DR2TKCAL, dtype: float64
count    7.715000e+03
mean     1.811273e+03
std      8.808825e+02
min      5.397605e-79
25%      1.207000e+03
50%      1.655000e+03
75%      2.253500e+03
max      9.608000e+03
Name: DR2TKCAL, dtype: float64

In [35]:
KCAL = pd.concat([DR1TOT['DR1TKCAL'], DR2TOT['DR2TKCAL']], axis=1)
print('KCAL shape = ', KCAL.shape)
print(KCAL.head())
KCAL.describe()

KCAL shape =  (9762, 2)
         DR1TKCAL  DR2TKCAL
SEQN
41475.0    1598.0    1459.0
41476.0    2093.0    1351.0
41477.0     914.0    1925.0
41478.0    1148.0       NaN
41479.0    2910.0    1615.0

           DR1TKCAL      DR2TKCAL
count  9.118000e+03  7.715000e+03
mean   1.934240e+03  1.811273e+03
std    9.768264e+02  8.808825e+02
min    5.397605e-79  5.397605e-79
25%    1.278000e+03  1.207000e+03
50%    1.756000e+03  1.655000e+03
75%    2.391000e+03  2.253500e+03
max    1.350900e+04  9.608000e+03

In [58]:
print('KCAL1 missing values =  ', KCAL1.isnull().sum(), 'from ', KCAL1.shape[0], 'observations')
print('KCAL2 missing values = ', KCAL2.isnull().sum(), 'from ', KCAL2.shape[0], 'observations')

KCAL1 missing values =   644 from  9762 observations
KCAL2 missing values =  2047 from  9762 observations

In [80]:
KCALmean = KCAL.mean(axis=1, skipna=1)
print('Type of KCALmean = ', KCALmean.dtype)
print(KCALmean.name)
KCALmean.name = 'TCKALmean'
print(KCALmean.name)
KCALmean.isnull().sum()

Type of KCALmean =  float64
None
TCKALmean

/Users/elgayaro/anaconda3/envs/DS-DL-ML-SunDog/lib/python3.6/site-packages/pandas/core/nanops.py:358: RuntimeWarning: divide by zero encountered in true_divide
  the_mean = the_sum / count

640

In [81]:
KCALmean.head()

SEQN
41475.0    1528.5
41476.0    1722.0
41477.0    1419.5
41478.0    1148.0
41479.0    2262.5
Name: TCKALmean, dtype: float64

In [82]:
KCALall = pd.concat([KCAL, KCALmean], axis=1)
print('KCALall shape = ', KCALall.shape)
print(KCALall.head())
KCALall.describe()

KCALall shape =  (9762, 3)
         DR1TKCAL  DR2TKCAL  TCKALmean
SEQN
41475.0    1598.0    1459.0     1528.5
41476.0    2093.0    1351.0     1722.0
41477.0     914.0    1925.0     1419.5
41478.0    1148.0       NaN     1148.0
41479.0    2910.0    1615.0     2262.5

           DR1TKCAL      DR2TKCAL     TCKALmean
count  9.118000e+03  7.715000e+03   9122.000000
mean   1.934240e+03  1.811273e+03   1884.345648
std    9.768264e+02  8.808825e+02    852.426085
min    5.397605e-79  5.397605e-79      9.000000
25%    1.278000e+03  1.207000e+03   1320.000000
50%    1.756000e+03  1.655000e+03   1746.000000
75%    2.391000e+03  2.253500e+03   2285.000000
max    1.350900e+04  9.608000e+03  13509.000000