# Processing Examination - Body Measures file (BMX)

In [3]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [4]:
os.getcwd()

'/Users/elgayaro/dev/CDCDiab_2.0'

In [1]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

[WinError 3] The system cannot find the path specified: '/Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination'
C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Code

In [6]:
os.getcwd()

'/Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination'

In [7]:
allFiles = glob.glob(os.path.join('.',"*.XPT"))
print(allFiles)

['./DXXFEM_E.XPT', './OPXRET_E.XPT', './AUX_E.XPT', './VIX_E.XPT', './OHX_E.XPT', './ENX_E.XPT', './SPX_E.XPT', './AUXAR_E.XPT', './BMX_E.XPT', './BPX_E.XPT', './OPXFDT_E.XPT', './DXXSPN_E.XPT', './AUXTYM_E.XPT']

In [8]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
fname = './BMX_E.XPT'   # Omar
BMX = pd.read_sas(fname, index='SEQN')
BMX.shape

(9762, 22)

In [9]:
A = set(BMX.columns)
print(sorted(A))

['BMDSTATS', 'BMIARMC', 'BMIARML', 'BMIHEAD', 'BMIHT', 'BMILEG', 'BMIRECUM', 'BMISUB', 'BMITRI', 'BMIWAIST', 'BMIWT', 'BMXARMC', 'BMXARML', 'BMXBMI', 'BMXHEAD', 'BMXHT', 'BMXLEG', 'BMXRECUM', 'BMXSUB', 'BMXTRI', 'BMXWAIST', 'BMXWT']

In [12]:
BMX.dtypes

BMDSTATS    float64
BMXWT       float64
BMIWT       float64
BMXRECUM    float64
BMIRECUM    float64
BMXHEAD     float64
BMIHEAD     float64
BMXHT       float64
BMIHT       float64
BMXBMI      float64
BMXLEG      float64
BMILEG      float64
BMXARML     float64
BMIARML     float64
BMXARMC     float64
BMIARMC     float64
BMXWAIST    float64
BMIWAIST    float64
BMXTRI      float64
BMITRI      float64
BMXSUB      float64
BMISUB      float64
dtype: object

In [15]:
BMX.head()

,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,3.0,138.9,NaN,NaN,NaN,NaN,NaN,154.7,NaN,58.04,...,37.6,NaN,45.2,NaN,156.3,NaN,NaN,2.0,NaN,1.0
41476.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,120.4,NaN,15.18,...,25.1,NaN,17.1,NaN,52.7,NaN,7.6,NaN,4.7,NaN
41477.0,1.0,83.9,NaN,NaN,NaN,NaN,NaN,167.1,NaN,30.05,...,38.2,NaN,34.1,NaN,109.5,NaN,15.6,NaN,25.8,NaN
41478.0,1.0,11.5,NaN,77.4,NaN,NaN,NaN,NaN,NaN,NaN,...,14.2,NaN,17.3,NaN,NaN,NaN,13.0,NaN,9.8,NaN
41479.0,1.0,65.7,NaN,NaN,NaN,NaN,NaN,154.4,NaN,27.56,...,34.1,NaN,33.2,NaN,95.4,NaN,13.3,NaN,25.9,NaN

In [16]:
BMX.filter(like='BMX').head()

,BMXWT,BMXRECUM,BMXHEAD,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,BMXTRI,BMXSUB
SEQN,,,,,,,,,,,
41475.0,138.9,NaN,NaN,154.7,58.04,34.2,37.6,45.2,156.3,NaN,NaN
41476.0,22.0,NaN,NaN,120.4,15.18,NaN,25.1,17.1,52.7,7.6,4.7
41477.0,83.9,NaN,NaN,167.1,30.05,32.4,38.2,34.1,109.5,15.6,25.8
41478.0,11.5,77.4,NaN,NaN,NaN,NaN,14.2,17.3,NaN,13.0,9.8
41479.0,65.7,NaN,NaN,154.4,27.56,33.3,34.1,33.2,95.4,13.3,25.9

In [19]:
BMX[BMX['BMDSTATS'] == 1].head()

,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
SEQN,,,,,,,,,,,,,,,,,,,,,
41476.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,120.4,NaN,15.18,...,25.1,NaN,17.1,NaN,52.7,NaN,7.6,NaN,4.7,NaN
41477.0,1.0,83.9,NaN,NaN,NaN,NaN,NaN,167.1,NaN,30.05,...,38.2,NaN,34.1,NaN,109.5,NaN,15.6,NaN,25.8,NaN
41478.0,1.0,11.5,NaN,77.4,NaN,NaN,NaN,NaN,NaN,NaN,...,14.2,NaN,17.3,NaN,NaN,NaN,13.0,NaN,9.8,NaN
41479.0,1.0,65.7,NaN,NaN,NaN,NaN,NaN,154.4,NaN,27.56,...,34.1,NaN,33.2,NaN,95.4,NaN,13.3,NaN,25.9,NaN
41480.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,122.7,NaN,17.93,...,25.8,NaN,20.9,NaN,60.3,NaN,13.2,NaN,10.0,NaN

In [20]:
BMX[BMX['BMDSTATS'] == 1].shape

(8088, 22)

In [21]:
BMX[BMX['BMDSTATS'] == 1].filter(like='BMX').head()

,BMXWT,BMXRECUM,BMXHEAD,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,BMXTRI,BMXSUB
SEQN,,,,,,,,,,,
41476.0,22.0,NaN,NaN,120.4,15.18,NaN,25.1,17.1,52.7,7.6,4.7
41477.0,83.9,NaN,NaN,167.1,30.05,32.4,38.2,34.1,109.5,15.6,25.8
41478.0,11.5,77.4,NaN,NaN,NaN,NaN,14.2,17.3,NaN,13.0,9.8
41479.0,65.7,NaN,NaN,154.4,27.56,33.3,34.1,33.2,95.4,13.3,25.9
41480.0,27.0,NaN,NaN,122.7,17.93,NaN,25.8,20.9,60.3,13.2,10.0

In [30]:
BMX[BMX['BMXWT'].notnull()].head()

,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,3.0,138.9,NaN,NaN,NaN,NaN,NaN,154.7,NaN,58.04,...,37.6,NaN,45.2,NaN,156.3,NaN,NaN,2.0,NaN,1.0
41476.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,120.4,NaN,15.18,...,25.1,NaN,17.1,NaN,52.7,NaN,7.6,NaN,4.7,NaN
41477.0,1.0,83.9,NaN,NaN,NaN,NaN,NaN,167.1,NaN,30.05,...,38.2,NaN,34.1,NaN,109.5,NaN,15.6,NaN,25.8,NaN
41478.0,1.0,11.5,NaN,77.4,NaN,NaN,NaN,NaN,NaN,NaN,...,14.2,NaN,17.3,NaN,NaN,NaN,13.0,NaN,9.8,NaN
41479.0,1.0,65.7,NaN,NaN,NaN,NaN,NaN,154.4,NaN,27.56,...,34.1,NaN,33.2,NaN,95.4,NaN,13.3,NaN,25.9,NaN

In [31]:
BMX[BMX['BMXWT'].notnull()].shape

(9631, 22)

In [33]:
BMX[BMX['BMXHT'].notnull()].head()

,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,3.0,138.9,NaN,NaN,NaN,NaN,NaN,154.7,NaN,58.04,...,37.6,NaN,45.2,NaN,156.3,NaN,NaN,2.0,NaN,1.0
41476.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,120.4,NaN,15.18,...,25.1,NaN,17.1,NaN,52.7,NaN,7.6,NaN,4.7,NaN
41477.0,1.0,83.9,NaN,NaN,NaN,NaN,NaN,167.1,NaN,30.05,...,38.2,NaN,34.1,NaN,109.5,NaN,15.6,NaN,25.8,NaN
41479.0,1.0,65.7,NaN,NaN,NaN,NaN,NaN,154.4,NaN,27.56,...,34.1,NaN,33.2,NaN,95.4,NaN,13.3,NaN,25.9,NaN
41480.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,122.7,NaN,17.93,...,25.8,NaN,20.9,NaN,60.3,NaN,13.2,NaN,10.0,NaN

In [34]:
BMX[BMX['BMXHT'].notnull()].shape

(8873, 22)

In [37]:
#BMX[(BMX['BMXWT'].notnull() and BMX['BMXHT'].notnull())].head()

BMX[(BMX['BMXWT'] * BMX['BMXHT']).notnull()].head()

,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,3.0,138.9,NaN,NaN,NaN,NaN,NaN,154.7,NaN,58.04,...,37.6,NaN,45.2,NaN,156.3,NaN,NaN,2.0,NaN,1.0
41476.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,120.4,NaN,15.18,...,25.1,NaN,17.1,NaN,52.7,NaN,7.6,NaN,4.7,NaN
41477.0,1.0,83.9,NaN,NaN,NaN,NaN,NaN,167.1,NaN,30.05,...,38.2,NaN,34.1,NaN,109.5,NaN,15.6,NaN,25.8,NaN
41479.0,1.0,65.7,NaN,NaN,NaN,NaN,NaN,154.4,NaN,27.56,...,34.1,NaN,33.2,NaN,95.4,NaN,13.3,NaN,25.9,NaN
41480.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,122.7,NaN,17.93,...,25.8,NaN,20.9,NaN,60.3,NaN,13.2,NaN,10.0,NaN

In [38]:
BMX[(BMX['BMXWT'] * BMX['BMXHT']).notnull()].shape

(8861, 22)

In [39]:
BMX[(BMX['BMXWT'] * BMX['BMXHT']).notnull()].describe().T

,count,mean,std,min,25%,50%,75%,max
BMDSTATS,8861.0,1.310800,0.706153,1.0,1.000,1.00,1.000,3.00
BMXWT,8861.0,66.679652,29.359566,10.4,49.000,68.70,85.200,218.20
BMIWT,293.0,3.051195,0.220771,3.0,3.000,3.00,3.000,4.00
BMXRECUM,442.0,95.284615,6.173863,80.3,91.000,95.00,99.700,116.60
BMIRECUM,9.0,1.222222,0.666667,1.0,1.000,1.00,1.000,3.00
BMXHEAD,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIHEAD,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXHT,8861.0,156.089132,23.526598,81.5,150.300,162.40,171.700,203.80
BMIHT,256.0,3.000000,0.000000,3.0,3.000,3.00,3.000,3.00
BMXBMI,8861.0,25.705713,7.608628,12.5,19.970,25.16,30.080,73.43
BMXLEG,7293.0,37.891019,4.280585,22.1,35.100,38.00,40.900,55.50
BMILEG,295.0,1.000000,0.000000,1.0,1.000,1.00,1.000,1.00
BMXARML,8591.0,34.453929,6.039657,15.2,32.500,36.00,38.500,47.70
BMIARML,259.0,1.000000,0.000000,1.0,1.000,1.00,1.000,1.00
BMXARMC,8596.0,29.346545,7.349124,13.0,24.600,30.10,34.300,59.40
BMIARMC,262.0,1.000000,0.000000,1.0,1.000,1.00,1.000,1.00
BMXWAIST,8522.0,87.403321,22.264529,37.8,71.800,89.00,102.900,178.20
BMIWAIST,328.0,1.000000,0.000000,1.0,1.000,1.00,1.000,1.00
BMXTRI,8270.0,17.059686,8.405401,3.0,10.000,15.30,23.000,41.40
BMITRI,589.0,1.336163,0.472797,1.0,1.000,1.00,2.000,2.00
BMXSUB,7546.0,17.338351,9.399185,3.0,8.925,16.00,24.375,44.00
BMISUB,1313.0,1.106626,0.308755,1.0,1.000,1.00,1.000,2.00

In [22]:
BMX_data = BMX[BMX['BMDSTATS'] == 1].filter(like='BMX')

In [24]:
BMX_data.shape

(8088, 11)

In [25]:
BMX_data.describe().T

           count        mean        std   min     25%     50%      75%     max
BMXWT     8088.0   57.147193  29.255921   3.1   30.40   62.20   78.500  156.10
BMXRECUM  1130.0   80.529381  14.077382  49.1   69.70   80.70   92.175  116.60
BMXHEAD    253.0   41.252964   2.586849  33.5   39.50   41.40   43.000   47.40
BMXHT     7367.0  154.909298  24.165775  81.5  147.40  161.70  171.300  203.80
BMXBMI    7367.0   24.173901   6.268194  12.5   19.16   23.98   28.300   55.35
BMXLEG    6199.0   37.897161   4.267350  22.1   35.10   38.00   40.900   55.50
BMXARML   8013.0   32.494010   7.873232   9.0   28.20   35.20   38.000   47.70
BMXARMC   8013.0   27.096318   7.415128   9.6   20.60   28.40   32.600   50.50
BMXWAIST  7367.0   83.685367  20.161309  37.8   69.00   85.50   98.500  150.00
BMXTRI    8013.0   15.626994   7.810538   3.0    9.20   13.40   20.600   40.80
BMXSUB    8013.0   16.392824   9.295324   3.0    8.00   14.60   23.200   41.60

In [48]:
BMX_data = BMX.filter(like='BMX')
BMX_data = BMX_data[(BMX_data['BMXWT'] * BMX_data['BMXHT']).notnull()]
BMX_data.shape

(8861, 11)

In [49]:
BMX_data.describe().T

,count,mean,std,min,25%,50%,75%,max
BMXWT,8861.0,66.679652,29.359566,10.4,49.000,68.70,85.200,218.20
BMXRECUM,442.0,95.284615,6.173863,80.3,91.000,95.00,99.700,116.60
BMXHEAD,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXHT,8861.0,156.089132,23.526598,81.5,150.300,162.40,171.700,203.80
BMXBMI,8861.0,25.705713,7.608628,12.5,19.970,25.16,30.080,73.43
BMXLEG,7293.0,37.891019,4.280585,22.1,35.100,38.00,40.900,55.50
BMXARML,8591.0,34.453929,6.039657,15.2,32.500,36.00,38.500,47.70
BMXARMC,8596.0,29.346545,7.349124,13.0,24.600,30.10,34.300,59.40
BMXWAIST,8522.0,87.403321,22.264529,37.8,71.800,89.00,102.900,178.20
BMXTRI,8270.0,17.059686,8.405401,3.0,10.000,15.30,23.000,41.40
BMXSUB,7546.0,17.338351,9.399185,3.0,8.925,16.00,24.375,44.00

In [50]:
BMX_data = BMX_data.drop(['BMXHEAD', 'BMXRECUM'], axis=1)

In [46]:
BMX_data.describe().T

,count,mean,std,min,25%,50%,75%,max
BMXWT,8861.0,66.679652,29.359566,10.4,49.000,68.70,85.200,218.20
BMXRECUM,442.0,95.284615,6.173863,80.3,91.000,95.00,99.700,116.60
BMXHT,8861.0,156.089132,23.526598,81.5,150.300,162.40,171.700,203.80
BMXBMI,8861.0,25.705713,7.608628,12.5,19.970,25.16,30.080,73.43
BMXLEG,7293.0,37.891019,4.280585,22.1,35.100,38.00,40.900,55.50
BMXARML,8591.0,34.453929,6.039657,15.2,32.500,36.00,38.500,47.70
BMXARMC,8596.0,29.346545,7.349124,13.0,24.600,30.10,34.300,59.40
BMXWAIST,8522.0,87.403321,22.264529,37.8,71.800,89.00,102.900,178.20
BMXTRI,8270.0,17.059686,8.405401,3.0,10.000,15.30,23.000,41.40
BMXSUB,7546.0,17.338351,9.399185,3.0,8.925,16.00,24.375,44.00

In [53]:
sorted_col_order = list(BMX_data.columns.sort_values())
sorted_col_order

['BMXARMC',
 'BMXARML',
 'BMXBMI',
 'BMXHT',
 'BMXLEG',
 'BMXSUB',
 'BMXTRI',
 'BMXWAIST',
 'BMXWT']

In [54]:
BMX_data = BMX_data[sorted_col_order]

In [55]:
BMX_data.describe().T

,count,mean,std,min,25%,50%,75%,max
BMXARMC,8596.0,29.346545,7.349124,13.0,24.600,30.10,34.300,59.40
BMXARML,8591.0,34.453929,6.039657,15.2,32.500,36.00,38.500,47.70
BMXBMI,8861.0,25.705713,7.608628,12.5,19.970,25.16,30.080,73.43
BMXHT,8861.0,156.089132,23.526598,81.5,150.300,162.40,171.700,203.80
BMXLEG,7293.0,37.891019,4.280585,22.1,35.100,38.00,40.900,55.50
BMXSUB,7546.0,17.338351,9.399185,3.0,8.925,16.00,24.375,44.00
BMXTRI,8270.0,17.059686,8.405401,3.0,10.000,15.30,23.000,41.40
BMXWAIST,8522.0,87.403321,22.264529,37.8,71.800,89.00,102.900,178.20
BMXWT,8861.0,66.679652,29.359566,10.4,49.000,68.70,85.200,218.20

In [57]:
BMX_data.describe().T.to_csv(path_or_buf='../Exam_BMX_stats.csv')

In [58]:
BMX_data.reset_index()

,SEQN,BMXARMC,BMXARML,BMXBMI,BMXHT,BMXLEG,BMXSUB,BMXTRI,BMXWAIST,BMXWT
0,41475.0,45.2,37.6,58.04,154.7,34.2,NaN,NaN,156.3,138.9
1,41476.0,17.1,25.1,15.18,120.4,NaN,4.7,7.6,52.7,22.0
2,41477.0,34.1,38.2,30.05,167.1,32.4,25.8,15.6,109.5,83.9
3,41479.0,33.2,34.1,27.56,154.4,33.3,25.9,13.3,95.4,65.7
4,41480.0,20.9,25.8,17.93,122.7,NaN,10.0,13.2,60.3,27.0
5,41481.0,31.0,43.0,23.34,182.7,43.6,9.2,8.4,79.5,77.9
6,41482.0,32.8,40.0,33.64,173.8,43.5,20.1,18.0,117.0,101.6
7,41483.0,40.5,38.9,44.06,173.8,36.5,NaN,17.6,145.6,133.1
8,41485.0,30.7,32.6,25.99,157.9,34.3,30.5,21.1,89.7,64.8
9,41486.0,35.3,36.0,31.21,166.2,35.0,24.8,24.6,97.0,86.2
10,41487.0,29.9,37.0,23.44,169.2,40.0,20.0,13.8,82.9,67.1
11,41488.0,17.0,22.0,15.15,103.1,NaN,8.0,7.6,52.3,16.1
12,41489.0,37.8,34.0,36.59,158.4,37.0,27.4,34.5,109.2,91.8
13,41490.0,31.2,37.0,27.69,159.8,40.5,25.5,34.8,98.4,70.7
14,41491.0,20.8,29.5,15.69,146.1,33.7,5.4,9.2,55.3,33.5
15,41492.0,34.0,39.0,29.02,168.7,34.0,24.0,24.6,106.2,82.6
16,41493.0,21.9,36.6,19.96,163.4,37.1,4.6,8.0,78.0,53.3
17,41494.0,32.0,36.4,25.46,166.4,39.0,21.6,12.0,95.6,70.5
18,41495.0,32.6,41.7,25.53,184.8,41.0,17.4,12.4,106.9,87.2
19,41496.0,33.3,35.2,28.37,154.6,33.5,11.0,24.2,100.9,67.8
20,41497.0,13.8,17.6,15.23,90.6,NaN,6.8,10.8,NaN,12.5
21,41498.0,31.1,39.0,28.16,165.8,39.4,NaN,11.6,95.5,77.4
22,41500.0,35.4,33.0,37.40,156.5,38.7,25.4,22.2,104.2,91.6
23,41501.0,37.2,39.2,36.27,177.9,41.0,NaN,18.0,132.0,114.8
24,41502.0,36.6,38.5,29.13,168.2,40.4,15.1,11.2,95.4,82.4
25,41503.0,30.6,36.9,24.17,173.9,40.1,10.7,13.2,85.9,73.1
26,41504.0,29.0,40.0,23.32,178.5,41.7,18.0,10.4,95.0,74.3
27,41507.0,16.0,23.4,13.83,116.3,NaN,5.4,5.8,49.8,18.7
28,41509.0,42.0,38.9,34.28,171.9,36.5,17.6,8.3,114.5,101.3
29,41510.0,28.2,35.2,22.63,171.8,37.6,24.4,25.6,81.9,66.8
...,...,...,...,...,...,...,...,...,...,...
8831,51589.0,32.3,34.5,26.81,169.9,35.7,15.8,16.2,94.5,77.4
8832,51590.0,34.6,39.6,30.49,180.2,42.0,28.2,20.0,107.0,99.0
8833,51591.0,NaN,NaN,29.53,161.8,NaN,NaN,NaN,NaN,77.3
8834,51592.0,55.5,41.4,39.27,166.9,34.2,21.2,NaN,112.2,109.4
8835,51593.0,35.2,37.5,33.13,162.8,38.8,30.6,31.0,109.4,87.8
8836,51594.0,38.6,39.0,28.90,173.8,39.6,19.2,13.2,99.7,87.3
8837,51596.0,37.8,33.3,35.51,146.1,37.4,NaN,NaN,108.2,75.8
8838,51597.0,21.6,26.8,18.14,126.0,NaN,8.4,15.0,63.6,28.8
8839,51600.0,17.2,18.0,18.52,90.9,NaN,7.0,11.4,52.2,15.3
8840,51601.0,22.4,26.6,20.85,116.7,NaN,8.0,15.2,55.5,28.4
8841,51603.0,26.9,39.0,21.53,172.0,40.3,7.2,14.8,79.8,63.7
8842,51604.0,41.2,39.4,33.54,165.0,39.8,34.0,35.2,102.4,91.3
8843,51606.0,22.8,35.3,18.79,161.5,38.4,4.8,4.8,76.8,49.0
8844,51607.0,16.0,21.2,15.29,107.0,NaN,6.0,8.0,53.6,17.5
8845,51608.0,30.7,35.4,32.09,153.8,39.3,27.5,25.5,101.2,75.9
8846,51609.0,32.3,38.3,28.44,167.6,41.0,24.4,28.5,90.6,79.9
8847,51610.0,37.3,34.0,40.06,147.2,24.2,29.0,27.0,110.2,86.8
8848,51611.0,30.3,36.3,25.81,162.8,36.7,34.0,22.4,96.8,68.4
8849,51612.0,17.7,24.5,14.33,127.5,29.7,8.0,7.7,50.1,23.3
8850,51613.0,35.7,37.2,29.65,165.9,41.2,21.2,27.4,97.5,81.6
8851,51614.0,31.3,38.6,22.63,178.0,36.3,10.2,7.8,92.9,71.7
8852,51615.0,NaN,NaN,25.03,141.9,NaN,NaN,NaN,NaN,50.4
8853,51616.0,44.0,44.0,42.40,183.4,41.2,NaN,NaN,140.5,142.6
8854,51617.0,34.5,36.3,30.97,158.6,36.1,37.5,23.0,107.4,77.9
8855,51618.0,36.6,39.5,29.96,173.9,39.2,24.4,23.2,94.2,90.6
8856,51619.0,33.9,39.5,30.08,172.4,37.2,34.4,22.2,108.5,89.4
8857,51620.0,29.3,35.7,28.31,159.7,39.0,19.8,28.2,101.1,72.2
8858,51621.0,22.2,33.2,17.72,155.4,36.9,4.8,3.9,69.4,42.8
8859,51622.0,37.5,38.0,31.53,158.4,31.4,23.4,28.4,111.9,79.1
8860,51623.0,33.3,38.3,32.27,162.5,33.5,22.2,19.3,116.2,85.2

In [61]:
BMX_data.to_csv(path_or_buf='../All_filt/Exam_BMX.csv')

# Processing Column of BMX
## BMXHT is standing hieght
## BMXBMI is Body mass index(KG/m**2)

In [15]:
BMX_reading1 = BMX['BMXHT']
print('BMX_reading1 shape = ', BMX_reading1.shape)
print(BMX_reading1.head())
print(BMX_reading1.describe())
print('Null Value in BMXHT is= ',BMX_reading1.isnull().sum(),'from ', BMX_reading1.shape[0], 'observations')

BMX_reading1 shape =  (9762,)
SEQN
41475.0    154.7
41476.0    120.4
41477.0    167.1
41478.0      NaN
41479.0    154.4
Name: BMXHT, dtype: float64
count    8873.000000
mean      156.086882
std        23.530941
min        81.500000
25%       150.300000
50%       162.400000
75%       171.700000
max       203.800000
Name: BMXHT, dtype: float64
Null Value in BMXHT is=  889 from  9762 observations

In [16]:
BMX_reading2 = BMX['BMXBMI']
print('BMX_reading2 shape = ', BMX_reading2.shape)
print(BMX_reading2.head())
print(BMX_reading2.describe())
print('Null Value in BMXBMI is= ',BMX_reading2.isnull().sum(),'from ', BMX_reading2.shape[0], 'observations')

BMX_reading2 shape =  (9762,)
SEQN
41475.0    58.04
41476.0    15.18
41477.0    30.05
41478.0      NaN
41479.0    27.56
Name: BMXBMI, dtype: float64
count    8861.000000
mean       25.705713
std         7.608628
min        12.500000
25%        19.970000
50%        25.160000
75%        30.080000
max        73.430000
Name: BMXBMI, dtype: float64
Null Value in BMXBMI is=  901 from  9762 observations