#  Processing Laboratory - FOLATE file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
#os.getcwd()

In [ ]:
# Omar
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Omar
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\ALB_CR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\APOB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\BIOPRO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CARB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CBC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CHLMDA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\COTNAL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CRP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\DEET_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\EPH_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FASTQX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FERTIN_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FOLATE_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FOLFMS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\GHB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\GLU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HDL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPBD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPB_S_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HIV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HPVSER_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HPVSWR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HSV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\IHG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\OGTT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\OPD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PAH_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PBCD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PERNT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PHTHTE_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PHYTO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PSA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSEBV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSHCV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSUSG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TCHOL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TFR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\THYROD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TRIGLY_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UAS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UCPREG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UHG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UHM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UIO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UPHOPM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UPP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VID_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VIT_B6_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOCMWB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOCWB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOC_E.XPT']

In [4]:
FOLATE = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FOLATE_E.XPT', index='SEQN')
FOLATE.shape

(9307, 4)

In [5]:
A = set(FOLATE.columns)
print(sorted(A))

['LBDFOL', 'LBDRBF', 'LBXFOLSI', 'LBXRBFSI']

In [6]:
FOLATE.dtypes

LBDRBF      float64
LBXRBFSI    float64
LBDFOL      float64
LBXFOLSI    float64
dtype: object

In [7]:
FOLATE.describe().T

,count,mean,std,min,25%,50%,75%,max
LBDRBF,8243.0,517.907145,233.422539,85.7,366.0,476.8,609.3,2984.5
LBXRBFSI,8243.0,1173.057867,528.701919,194.0,829.0,1080.0,1380.0,6760.0
LBDFOL,8205.0,20.365765,12.106069,2.2,12.3,18.1,25.6,209.3
LBXFOLSI,8205.0,46.129677,27.419161,5.0,27.9,41.0,58.0,474.0

In [8]:
FOLATE.describe().T.to_csv('FOLATE_Select.csv')

In [9]:
FOLATE.reset_index()

         SEQN  LBDRBF  LBXRBFSI  LBDFOL  LBXFOLSI
0     41475.0  1099.3    2490.0    24.0      54.4
1     41476.0   396.0     897.0    14.3      32.3
2     41477.0   613.7    1390.0    29.0      65.6
3     41478.0   587.2    1330.0    29.1      65.9
4     41479.0   582.8    1320.0    36.9      83.6
5     41480.0     NaN       NaN     NaN       NaN
6     41481.0     NaN       NaN     NaN       NaN
7     41482.0   450.3    1020.0    42.5      96.2
8     41483.0   724.1    1640.0    20.4      46.1
9     41485.0   433.1     981.0    18.1      40.9
10    41486.0   543.0    1230.0    14.2      32.1
11    41487.0   430.5     975.0    17.1      38.7
12    41488.0   547.5    1240.0    15.5      35.2
13    41489.0   574.0    1300.0    16.2      36.8
14    41490.0   378.4     857.0    17.5      39.6
15    41491.0   521.0    1180.0    40.1      90.9
16    41492.0   521.0    1180.0    31.6      71.6
17    41493.0   423.8     960.0    18.7      42.3
18    41494.0   485.7    1100.0    15.3      34.6
19    41495.0   569.5    1290.0    26.6      60.3
20    41496.0   746.1    1690.0    15.1      34.3
21    41497.0   865.3    1960.0    32.9      74.5
22    41498.0   521.0    1180.0    20.7      46.8
23    41499.0   400.0     906.0    19.6      44.4
24    41500.0   454.7    1030.0    13.3      30.2
25    41501.0   301.1     682.0     9.8      22.3
26    41502.0   304.2     689.0    12.9      29.2
27    41503.0   503.3    1140.0    16.1      36.4
28    41504.0   697.6    1580.0    13.4      30.4
29    41505.0   507.7    1150.0    24.5      55.4
...       ...     ...       ...     ...       ...
9277  51590.0   521.0    1180.0    18.5      41.8
9278  51591.0     NaN       NaN     NaN       NaN
9279  51592.0   644.6    1460.0    18.0      40.8
9280  51593.0   662.3    1500.0    37.3      84.4
9281  51594.0   408.8     926.0    22.3      50.5
9282  51596.0   294.9     668.0    18.9      42.7
9283  51597.0   507.7    1150.0    45.0     102.0
9284  51599.0   472.4    1070.0    28.1      63.7
9285  51600.0   830.0    1880.0    44.6     101.0
9286  51601.0   420.3     952.0    18.2      41.3
9287  51603.0   481.2    1090.0    22.3      50.5
9288  51604.0   521.0    1180.0    24.8      56.1
9289  51606.0   333.3     755.0    13.8      31.2
9290  51607.0     NaN       NaN     NaN       NaN
9291  51608.0   534.2    1210.0     6.0      13.7
9292  51609.0   366.4     830.0    10.5      23.8
9293  51610.0   746.1    1690.0    32.4      73.3
9294  51611.0   427.4     968.0    11.0      24.9
9295  51612.0   560.7    1270.0    44.6     101.0
9296  51613.0   498.9    1130.0    25.8      58.4
9297  51614.0   476.8    1080.0    17.0      38.6
9298  51615.0     NaN       NaN     NaN       NaN
9299  51616.0   342.6     776.0     9.4      21.3
9300  51617.0   412.4     934.0    31.1      70.4
9301  51618.0   463.6    1050.0    15.6      35.4
9302  51619.0   374.8     849.0    43.8      99.1
9303  51620.0   463.6    1050.0     6.8      15.3
9304  51621.0   293.6     665.0    14.0      31.6
9305  51622.0   400.9     908.0    17.9      40.5
9306  51623.0   883.0    2000.0    21.9      49.5

[9307 rows x 5 columns]

In [10]:
FOLATE.to_csv('FOLATE_Lab_filter.csv')

# Processing Column of FOLATE

In [7]:
# Had LBXRBFSI also which is similar just the unit of measurement is different NMOL/L
FOLATE_reading1 = FOLATE['LBDRBF']
print('FOLATE_reading1 shape = ', FOLATE_reading1.shape)
print(FOLATE_reading1.head())
print(FOLATE_reading1.describe())

FOLATE_reading1 shape =  (9307,)
SEQN
41475.0    1099.3
41476.0     396.0
41477.0     613.7
41478.0     587.2
41479.0     582.8
Name: LBDRBF, dtype: float64
count    8243.000000
mean      517.907145
std       233.422539
min        85.700000
25%       366.000000
50%       476.800000
75%       609.300000
max      2984.500000
Name: LBDRBF, dtype: float64

In [8]:
print('FOLATE missing values =  ', FOLATE_reading1.isnull().sum(), 'from ', FOLATE_reading1.shape[0], 'observations')

FOLATE missing values =   1064 from  9307 observations