#  Processing Laboratory - VIT_B6 file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
#os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\ALB_CR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\APOB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\BIOPRO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CARB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CBC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CHLMDA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\COTNAL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\CRP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\DEET_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\EPH_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FASTQX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FERTIN_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FOLATE_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\FOLFMS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\GHB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\GLU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HDL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPBD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPB_S_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HEPC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HIV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HPVSER_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HPVSWR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\HSV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\IHG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\OGTT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\OPD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PAH_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PBCD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PERNT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PHTHTE_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PHYTO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\PSA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSEBV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSHCV_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\SSUSG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TCHOL_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TFR_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\THYROD_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\TRIGLY_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UAS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UCPREG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UHG_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UHM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UIO_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UPHOPM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\UPP_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VID_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VIT_B6_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOCMWB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOCWB_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VOC_E.XPT']

In [4]:
VIT = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Lab\\VIT_B6_E.XPT', index='SEQN')
VIT.shape

(9307, 2)

In [5]:
A = set(VIT.columns)
print(sorted(A))

['LBX4PA', 'LBXPLP']

In [6]:
VIT.head()

         LBX4PA  LBXPLP
SEQN
41475.0   937.0   104.0
41476.0    19.2    51.0
41477.0    20.7    59.8
41478.0    23.7    59.3
41479.0    32.1    53.8

In [7]:
VIT.isnull().sum(), VIT.count(),VIT.isnull().count()

(LBX4PA    1136
 LBXPLP    1136
 dtype: int64, LBX4PA    8171
 LBXPLP    8171
 dtype: int64, LBX4PA    9307
 LBXPLP    9307
 dtype: int64)

In [8]:
VIT_filter = VIT.filter(['LBXPLP'])

In [9]:
VIT_filter.describe().T

         count       mean        std  min   25%   50%    75%     max
LBXPLP  8171.0  69.273308  76.092871  2.1  31.2  49.9  79.65  2330.0

In [12]:
VIT_filter.describe().T.to_csv('VIT_Select.csv')

In [10]:
VIT_filter.reset_index()

         SEQN  LBXPLP
0     41475.0   104.0
1     41476.0    51.0
2     41477.0    59.8
3     41478.0    59.3
4     41479.0    53.8
5     41480.0     NaN
6     41481.0     NaN
7     41482.0    79.1
8     41483.0    59.0
9     41485.0    19.7
10    41486.0    17.7
11    41487.0    58.6
12    41488.0    35.3
13    41489.0    20.4
14    41490.0    16.2
15    41491.0    54.0
16    41492.0    65.5
17    41493.0    26.4
18    41494.0    96.8
19    41495.0   136.0
20    41496.0    23.7
21    41497.0    92.2
22    41498.0    27.2
23    41499.0    96.8
24    41500.0    10.4
25    41501.0    39.5
26    41502.0    51.0
27    41503.0    35.3
28    41504.0    42.2
29    41505.0    80.0
...       ...     ...
9277  51590.0   144.0
9278  51591.0     NaN
9279  51592.0    32.4
9280  51593.0    15.5
9281  51594.0    54.1
9282  51596.0    22.8
9283  51597.0   173.0
9284  51599.0    27.6
9285  51600.0    81.5
9286  51601.0    59.0
9287  51603.0   115.0
9288  51604.0    74.2
9289  51606.0    16.4
9290  51607.0     NaN
9291  51608.0    21.6
9292  51609.0    57.4
9293  51610.0   110.0
9294  51611.0    12.4
9295  51612.0   102.0
9296  51613.0    41.6
9297  51614.0    27.5
9298  51615.0     NaN
9299  51616.0    13.8
9300  51617.0    59.1
9301  51618.0    79.4
9302  51619.0   215.0
9303  51620.0    27.5
9304  51621.0    67.6
9305  51622.0    39.3
9306  51623.0    25.7

[9307 rows x 2 columns]

In [11]:
VIT_filter.to_csv('VIT_Lab_filter.csv')

# Processing Column of VIT

In [6]:
# Pyridxic acid - nmol/L
VIT_reading1 = VIT['LBX4PA']
print('VIT_reading1 shape = ', VIT_reading1.shape)
print(VIT_reading1.head())
print(VIT_reading1.describe())

VIT_reading1 shape =  (9307,)
SEQN
41475.0    937.0
41476.0     19.2
41477.0     20.7
41478.0     23.7
41479.0     32.1
Name: LBX4PA, dtype: float64
count     8171.000000
mean        72.002484
std        405.977118
min          3.200000
25%         14.800000
50%         22.000000
75%         39.200000
max      15500.000000
Name: LBX4PA, dtype: float64

In [7]:
# pyridoxal5 phosphate - nmol/L
VIT_reading2 = VIT['LBXPLP']
print('VIT_reading2 shape = ', VIT_reading2.shape)
print(VIT_reading2.head())
print(VIT_reading2.describe())

VIT_reading2 shape =  (9307,)
SEQN
41475.0    104.0
41476.0     51.0
41477.0     59.8
41478.0     59.3
41479.0     53.8
Name: LBXPLP, dtype: float64
count    8171.000000
mean       69.273308
std        76.092871
min         2.100000
25%        31.200000
50%        49.900000
75%        79.650000
max      2330.000000
Name: LBXPLP, dtype: float64

In [8]:
print('VIT_reading1 missing values =  ', VIT_reading1.isnull().sum(), 'from ', VIT_reading1.shape[0], 'observations')
print('VIT_reading2 missing values =  ', VIT_reading2.isnull().sum(), 'from ', VIT_reading2.shape[0], 'observations')

VIT_reading1 missing values =   1136 from  9307 observations
VIT_reading2 missing values =   1136 from  9307 observations