#  Processing Questionnaire - Smoking - Cigarette Use (SMQ_SMQFAM_SMQRTU) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
#os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
SMQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', index='SEQN')
SMQ.shape

(7145, 36)

In [5]:
SMQFAM = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', index='SEQN')
SMQFAM.shape

(10149, 4)

In [6]:
SMQRTU = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', index='SEQN')
SMQRTU.shape

(6917, 23)

In [7]:
A = set(SMQFAM.columns)
print(sorted(A))

['SMD410', 'SMD415', 'SMD415A', 'SMD430']

In [8]:
A = set(SMQRTU.columns)
print(sorted(A))

['SMAQUEX', 'SMQ680', 'SMQ690A', 'SMQ690B', 'SMQ690C', 'SMQ690D', 'SMQ690E', 'SMQ690F', 'SMQ710', 'SMQ720', 'SMQ725', 'SMQ740', 'SMQ750', 'SMQ755', 'SMQ770', 'SMQ780', 'SMQ785', 'SMQ800', 'SMQ815', 'SMQ817', 'SMQ819', 'SMQ830', 'SMQ840']

In [9]:
A = set(SMQ.columns)
print(sorted(A))

['SMAQUEX2', 'SMD030', 'SMD055', 'SMD057', 'SMD093', 'SMD100BR', 'SMD100CO', 'SMD100FL', 'SMD100LN', 'SMD100MN', 'SMD100NI', 'SMD100TR', 'SMD630', 'SMD641', 'SMD650', 'SMDUPCA', 'SMQ020', 'SMQ040', 'SMQ050Q', 'SMQ050U', 'SMQ077', 'SMQ620', 'SMQ660', 'SMQ664B', 'SMQ664C', 'SMQ664M', 'SMQ664O', 'SMQ664W', 'SMQ666B', 'SMQ666C', 'SMQ666K', 'SMQ666M', 'SMQ666O', 'SMQ666S', 'SMQ666W', 'SMQ670']

In [10]:
SMQ.dtypes

SMQ020      float64
SMD030      float64
SMQ040      float64
SMQ050Q     float64
SMQ050U     float64
SMD055      float64
SMD057      float64
SMQ077      float64
SMD641      float64
SMD650      float64
SMD093      float64
SMDUPCA      object
SMD100BR     object
SMD100FL    float64
SMD100MN    float64
SMD100LN    float64
SMD100TR    float64
SMD100NI    float64
SMD100CO    float64
SMQ620      float64
SMD630      float64
SMQ660      float64
SMQ664M     float64
SMQ664C     float64
SMQ664W     float64
SMQ664B     float64
SMQ664O     float64
SMQ666M     float64
SMQ666C     float64
SMQ666K     float64
SMQ666W     float64
SMQ666B     float64
SMQ666S     float64
SMQ666O     float64
SMQ670      float64
SMAQUEX2    float64
dtype: object

In [11]:
SMQ.head()

,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ077,SMD641,SMD650,...,SMQ664O,SMQ666M,SMQ666C,SMQ666K,SMQ666W,SMQ666B,SMQ666S,SMQ666O,SMQ670,SMAQUEX2
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41477.0,1.0,15.0,3.0,30.0,4.0,35.0,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41479.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41481.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41482.0,1.0,16.0,3.0,9.0,4.0,55.0,30.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [12]:
SMQ.notnull().sum()

SMQ020      5935
SMD030      2802
SMQ040      2802
SMQ050Q     1482
SMQ050U     1474
SMD055      1363
SMD057      1363
SMQ077      1244
SMD641      1598
SMD650      1473
SMD093      1319
SMDUPCA     7145
SMD100BR    7145
SMD100FL    1256
SMD100MN    1256
SMD100LN    1255
SMD100TR     934
SMD100NI     934
SMD100CO     934
SMQ620      1102
SMD630       403
SMQ660       161
SMQ664M       62
SMQ664C       30
SMQ664W        0
SMQ664B        1
SMQ664O       17
SMQ666M       62
SMQ666C       30
SMQ666K        6
SMQ666W        0
SMQ666B        1
SMQ666S        0
SMQ666O       17
SMQ670       279
SMAQUEX2    7145
dtype: int64

In [13]:
SMQ_All = pd.concat([SMQ,SMQFAM,SMQRTU],axis=1)

In [14]:
SMQ_All_filter = SMQ_All.filter(['SMQ020','SMD650','SMQ620','SMD410','SMQ680','SMQ690A'])

In [15]:
SMQ_All_filter.describe().T

           count       mean        std  min  25%   50%   75%    max
SMQ020    5935.0   1.534288   0.544726  1.0  1.0   2.0   2.0    9.0
SMD650    1473.0  15.536320  50.325964  1.0  4.0  10.0  20.0  999.0
SMQ620    1102.0   1.634301   0.481844  1.0  1.0   2.0   2.0    2.0
SMD410   10072.0   1.818308   0.393259  1.0  2.0   2.0   2.0    7.0
SMQ680    6335.0   1.755959   0.435029  1.0  2.0   2.0   2.0    7.0
SMQ690A   1343.0   1.000000   0.000000  1.0  1.0   1.0   1.0    1.0

In [18]:
SMQ_All_filter.describe().T.to_csv('SMQ_All_Select.csv')

In [17]:
SMQ_All_filter.reset_index()

          SEQN  SMQ020  SMD650  SMQ620  SMD410  SMQ680  SMQ690A
0      41475.0     2.0     NaN     NaN     2.0     2.0      NaN
1      41476.0     NaN     NaN     NaN     2.0     NaN      NaN
2      41477.0     1.0     NaN     NaN     2.0     2.0      NaN
3      41478.0     NaN     NaN     NaN     1.0     NaN      NaN
4      41479.0     2.0     NaN     NaN     2.0     2.0      NaN
5      41480.0     NaN     NaN     NaN     2.0     NaN      NaN
6      41481.0     2.0     NaN     NaN     2.0     2.0      NaN
7      41482.0     1.0     NaN     NaN     2.0     2.0      NaN
8      41483.0     2.0     NaN     NaN     2.0     2.0      NaN
9      41484.0     NaN     NaN     NaN     2.0     NaN      NaN
10     41485.0     2.0     NaN     NaN     2.0     2.0      NaN
11     41486.0     2.0     NaN     NaN     2.0     2.0      NaN
12     41487.0     2.0     NaN     NaN     2.0     2.0      NaN
13     41488.0     NaN     NaN     NaN     2.0     NaN      NaN
14     41489.0     2.0     NaN     NaN     2.0     2.0      NaN
15     41490.0     1.0     NaN     NaN     2.0     2.0      NaN
16     41491.0     NaN     NaN     NaN     2.0     NaN      NaN
17     41492.0     2.0     NaN     NaN     2.0     2.0      NaN
18     41493.0     1.0    10.0     NaN     1.0     1.0      1.0
19     41494.0     1.0     1.0     NaN     2.0     1.0      1.0
20     41495.0     1.0     NaN     NaN     2.0     2.0      NaN
21     41496.0     2.0     NaN     NaN     2.0     2.0      NaN
22     41497.0     NaN     NaN     NaN     2.0     NaN      NaN
23     41498.0     2.0     NaN     NaN     2.0     2.0      NaN
24     41499.0     NaN     NaN     2.0     2.0     2.0      NaN
25     41500.0     NaN     NaN     2.0     2.0     2.0      NaN
26     41501.0     1.0     NaN     NaN     2.0     2.0      NaN
27     41502.0     1.0    12.0     NaN     2.0     1.0      1.0
28     41503.0     NaN     NaN     1.0     NaN     2.0      NaN
29     41504.0     1.0     NaN     NaN     2.0     2.0      NaN
...        ...     ...     ...     ...     ...     ...      ...
10119  51594.0     1.0     NaN     NaN     2.0     2.0      NaN
10120  51595.0     1.0     1.0     NaN     2.0     NaN      NaN
10121  51596.0     1.0     NaN     NaN     2.0     2.0      NaN
10122  51597.0     NaN     NaN     NaN     2.0     NaN      NaN
10123  51598.0     NaN     NaN     NaN     2.0     NaN      NaN
10124  51599.0     NaN     NaN     NaN     2.0     NaN      NaN
10125  51600.0     NaN     NaN     NaN     2.0     NaN      NaN
10126  51601.0     NaN     NaN     NaN     1.0     NaN      NaN
10127  51602.0     1.0     NaN     NaN     2.0     NaN      NaN
10128  51603.0     2.0     NaN     NaN     2.0     NaN      NaN
10129  51604.0     1.0     NaN     NaN     2.0     2.0      NaN
10130  51605.0     NaN     NaN     NaN     2.0     NaN      NaN
10131  51606.0     1.0     NaN     NaN     2.0     1.0      1.0
10132  51607.0     NaN     NaN     NaN     2.0     NaN      NaN
10133  51608.0     1.0     4.0     NaN     1.0     1.0      1.0
10134  51609.0     NaN     1.0     1.0     2.0     1.0      1.0
10135  51610.0     2.0     NaN     NaN     2.0     2.0      NaN
10136  51611.0     1.0    17.0     NaN     2.0     1.0      1.0
10137  51612.0     NaN     NaN     NaN     2.0     NaN      NaN
10138  51613.0     NaN     NaN     2.0     2.0     2.0      NaN
10139  51614.0     1.0     NaN     NaN     1.0     1.0      NaN
10140  51615.0     1.0     NaN     NaN     2.0     NaN      NaN
10141  51616.0     1.0    10.0     NaN     2.0     1.0      1.0
10142  51617.0     2.0     NaN     NaN     2.0     2.0      NaN
10143  51618.0     2.0     NaN     NaN     2.0     2.0      NaN
10144  51619.0     1.0     3.0     NaN     2.0     1.0      1.0
10145  51620.0     1.0     NaN     NaN     2.0     2.0      NaN
10146  51621.0     NaN     NaN     1.0     2.0     2.0      NaN
10147  51622.0     2.0     NaN     NaN     2.0     2.0      NaN
10148  51623.0     1.0     1.0     NaN     2.0     1.0      1.0

[10149 rows x 7 columns]

In [18]:
SMQ_All_filter.to_csv('SMQ_Ques_filter.csv')

# Processing Column of SMQ

In [22]:
# SMQ020 - Smoked at least 100 cigarettes in life
SMQ_reading1 = SMQ['SMQ020']
print('SMQ_reading1 shape = ', SMQ_reading1.shape)
print(SMQ_reading1.head())
print(SMQ_reading1.describe())

SMQ_reading1 shape =  (7145,)
SEQN
41475.0    2.0
41477.0    1.0
41479.0    2.0
41481.0    2.0
41482.0    1.0
Name: SMQ020, dtype: float64
count    5935.000000
mean        1.534288
std         0.544726
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: SMQ020, dtype: float64

In [24]:
# SMD410 - Does anyone smoke inside home?
SMQFAM_reading1 = SMQFAM['SMD410']
print('SMQFAM_reading1 shape = ', SMQFAM_reading1.shape)
print(SMQFAM_reading1.head())
print(SMQFAM_reading1.describe())

SMQFAM_reading1 shape =  (10149,)
SEQN
41475.0    2.0
41476.0    2.0
41477.0    2.0
41478.0    1.0
41479.0    2.0
Name: SMD410, dtype: float64
count    10072.000000
mean         1.818308
std          0.393259
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          7.000000
Name: SMD410, dtype: float64

In [29]:
# SMQ680 - Used tobacco/nicotine last 5 days?
SMQRTU_reading1 = SMQRTU['SMQ680']
print('SMQRTU_reading1 shape = ', SMQRTU_reading1.shape)
print(SMQRTU_reading1.head())
print(SMQRTU_reading1.describe())

SMQRTU_reading1 shape =  (6917,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    2.0
41481.0    2.0
41482.0    2.0
Name: SMQ680, dtype: float64
count    6335.000000
mean        1.755959
std         0.435029
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         7.000000
Name: SMQ680, dtype: float64

In [30]:
print('SMQ_reading1 missing values =  ', SMQ_reading1.isnull().sum(), 'from ', SMQ_reading1.shape[0], 'observations')
print('SMQFAM_reading1 missing values =  ', SMQFAM_reading1.isnull().sum(), 'from ', SMQFAM_reading1.shape[0], 'observations')
print('SMQRTU_reading1 missing values =  ', SMQRTU_reading1.isnull().sum(), 'from ', SMQRTU_reading1.shape[0], 'observations')

SMQ_reading1 missing values =   1210 from  7145 observations
SMQFAM_reading1 missing values =   77 from  10149 observations
SMQRTU_reading1 missing values =   582 from  6917 observations

In [32]:
All_SMQ = pd.concat([SMQ_reading1,SMQFAM_reading1,SMQRTU_reading1],axis=1)
print('All_SMQ shape = ', All_SMQ.shape)
print(All_SMQ.head())
All_SMQ.describe()

All_SMQ shape =  (10149, 3)
         SMQ020  SMD410  SMQ680
SEQN
41475.0     2.0     2.0     2.0
41476.0     NaN     2.0     NaN
41477.0     1.0     2.0     2.0
41478.0     NaN     1.0     NaN
41479.0     2.0     2.0     2.0

            SMQ020        SMD410       SMQ680
count  5935.000000  10072.000000  6335.000000
mean      1.534288      1.818308     1.755959
std       0.544726      0.393259     0.435029
min       1.000000      1.000000     1.000000
25%       1.000000      2.000000     2.000000
50%       2.000000      2.000000     2.000000
75%       2.000000      2.000000     2.000000
max       9.000000      7.000000     7.000000

In [14]:
All_SMQ = All_SMQ.to_csv('all_SMQ.csv')