#  Processing Questionnaire - Alcohol (ALQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
#os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
ALQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', index='SEQN')
ALQ.shape

(5707, 8)

In [5]:
ALQ.head()

,ALQ101,ALQ110,ALQ120Q,ALQ120U,ALQ130,ALQ140Q,ALQ140U,ALQ150
SEQN,,,,,,,,
41475.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41477.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41479.0,1.0,NaN,3.000000e+00,2.0,5.0,3.000000e+00,2.0,2.0
41481.0,1.0,NaN,3.000000e+00,3.0,4.0,5.397605e-79,NaN,2.0
41482.0,1.0,NaN,1.000000e+00,3.0,4.0,5.397605e-79,NaN,1.0

In [6]:
ALQ.filter(like='ALQ')

,ALQ101,ALQ110,ALQ120Q,ALQ120U,ALQ130,ALQ140Q,ALQ140U,ALQ150
SEQN,,,,,,,,
41475.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41477.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41479.0,1.0,NaN,3.000000e+00,2.0,5.0,3.000000e+00,2.0,2.0
41481.0,1.0,NaN,3.000000e+00,3.0,4.0,5.397605e-79,NaN,2.0
41482.0,1.0,NaN,1.000000e+00,3.0,4.0,5.397605e-79,NaN,1.0
41483.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41485.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
41486.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
41487.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0
41489.0,1.0,NaN,3.000000e+00,3.0,5.0,3.000000e+00,3.0,2.0
41490.0,1.0,NaN,1.000000e+00,2.0,2.0,1.000000e+00,3.0,2.0
41492.0,1.0,NaN,2.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
41493.0,2.0,1.0,3.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
41494.0,1.0,NaN,1.000000e+00,2.0,5.0,1.000000e+00,2.0,1.0
41495.0,1.0,NaN,2.700000e+02,3.0,2.0,4.000000e+00,3.0,2.0
41496.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
41498.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
41501.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
41502.0,1.0,NaN,3.000000e+00,1.0,8.0,3.000000e+00,1.0,1.0
41504.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
41506.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
41509.0,1.0,NaN,1.000000e+00,2.0,12.0,1.000000e+00,2.0,2.0
41510.0,1.0,NaN,2.000000e+00,2.0,2.0,5.397605e-79,NaN,1.0
41511.0,1.0,NaN,1.000000e+00,1.0,6.0,1.000000e+00,1.0,2.0
41512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41513.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41514.0,1.0,NaN,5.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0
41516.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
41518.0,1.0,NaN,4.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
41519.0,1.0,NaN,6.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
...,...,...,...,...,...,...,...,...
51578.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51579.0,2.0,1.0,2.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
51580.0,1.0,NaN,3.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0
51581.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51583.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51584.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51585.0,1.0,NaN,1.000000e+00,1.0,3.0,5.397605e-79,NaN,1.0
51587.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
51589.0,1.0,NaN,1.000000e+00,2.0,3.0,3.000000e+00,3.0,2.0
51590.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51591.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51592.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51593.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0
51594.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0
51596.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
51603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51604.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
51606.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
51608.0,1.0,NaN,2.000000e+00,1.0,3.0,1.000000e+00,1.0,2.0
51610.0,2.0,1.0,4.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
51611.0,2.0,1.0,2.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
51614.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0
51615.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51616.0,1.0,NaN,4.000000e+00,1.0,3.0,4.000000e+01,3.0,2.0
51617.0,1.0,NaN,1.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
51618.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51619.0,1.0,NaN,1.000000e+00,2.0,6.0,1.000000e+00,2.0,2.0
51620.0,1.0,NaN,2.000000e+00,1.0,4.0,1.000000e+00,1.0,2.0
51622.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
51623.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,1.0

In [7]:
ALQ.reset_index()

,SEQN,ALQ101,ALQ110,ALQ120Q,ALQ120U,ALQ130,ALQ140Q,ALQ140U,ALQ150
0,41475.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
1,41477.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
2,41479.0,1.0,NaN,3.000000e+00,2.0,5.0,3.000000e+00,2.0,2.0
3,41481.0,1.0,NaN,3.000000e+00,3.0,4.0,5.397605e-79,NaN,2.0
4,41482.0,1.0,NaN,1.000000e+00,3.0,4.0,5.397605e-79,NaN,1.0
5,41483.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
6,41485.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7,41486.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
8,41487.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0
9,41489.0,1.0,NaN,3.000000e+00,3.0,5.0,3.000000e+00,3.0,2.0
10,41490.0,1.0,NaN,1.000000e+00,2.0,2.0,1.000000e+00,3.0,2.0
11,41492.0,1.0,NaN,2.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
12,41493.0,2.0,1.0,3.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
13,41494.0,1.0,NaN,1.000000e+00,2.0,5.0,1.000000e+00,2.0,1.0
14,41495.0,1.0,NaN,2.700000e+02,3.0,2.0,4.000000e+00,3.0,2.0
15,41496.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
16,41498.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
17,41501.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
18,41502.0,1.0,NaN,3.000000e+00,1.0,8.0,3.000000e+00,1.0,1.0
19,41504.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
20,41506.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
21,41509.0,1.0,NaN,1.000000e+00,2.0,12.0,1.000000e+00,2.0,2.0
22,41510.0,1.0,NaN,2.000000e+00,2.0,2.0,5.397605e-79,NaN,1.0
23,41511.0,1.0,NaN,1.000000e+00,1.0,6.0,1.000000e+00,1.0,2.0
24,41512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,41513.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,41514.0,1.0,NaN,5.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0
27,41516.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
28,41518.0,1.0,NaN,4.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
29,41519.0,1.0,NaN,6.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
...,...,...,...,...,...,...,...,...,...
5677,51578.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5678,51579.0,2.0,1.0,2.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
5679,51580.0,1.0,NaN,3.000000e+00,3.0,2.0,5.397605e-79,NaN,2.0
5680,51581.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5681,51583.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5682,51584.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5683,51585.0,1.0,NaN,1.000000e+00,1.0,3.0,5.397605e-79,NaN,1.0
5684,51587.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5685,51589.0,1.0,NaN,1.000000e+00,2.0,3.0,3.000000e+00,3.0,2.0
5686,51590.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5687,51591.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5688,51592.0,2.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5689,51593.0,1.0,NaN,1.000000e+00,2.0,1.0,5.397605e-79,NaN,2.0
5690,51594.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0
5691,51596.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5692,51603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5693,51604.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5694,51606.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
5695,51608.0,1.0,NaN,2.000000e+00,1.0,3.0,1.000000e+00,1.0,2.0
5696,51610.0,2.0,1.0,4.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
5697,51611.0,2.0,1.0,2.000000e+00,3.0,1.0,5.397605e-79,NaN,2.0
5698,51614.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,1.0
5699,51615.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,51616.0,1.0,NaN,4.000000e+00,1.0,3.0,4.000000e+01,3.0,2.0
5701,51617.0,1.0,NaN,1.000000e+00,1.0,1.0,5.397605e-79,NaN,2.0
5702,51618.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5703,51619.0,1.0,NaN,1.000000e+00,2.0,6.0,1.000000e+00,2.0,2.0
5704,51620.0,1.0,NaN,2.000000e+00,1.0,4.0,1.000000e+00,1.0,2.0
5705,51622.0,1.0,NaN,5.397605e-79,NaN,NaN,NaN,NaN,2.0
5706,51623.0,1.0,NaN,7.000000e+00,1.0,1.0,5.397605e-79,NaN,1.0

In [9]:
ALQ.describe().T

,count,mean,std,min,25%,50%,75%,max
ALQ101,5233.0,1.306707,0.526212,1.000000e+00,1.000000e+00,1.000000e+00,2.0,9.0
ALQ110,1563.0,1.550864,0.755139,1.000000e+00,1.000000e+00,2.000000e+00,2.0,9.0
ALQ120Q,4434.0,6.377086,52.780627,5.397605e-79,5.397605e-79,2.000000e+00,3.0,999.0
ALQ120U,3312.0,1.917572,0.863799,1.000000e+00,1.000000e+00,2.000000e+00,3.0,3.0
ALQ130,3323.0,6.253686,57.313956,1.000000e+00,1.000000e+00,2.000000e+00,4.0,999.0
ALQ140Q,3323.0,53.551610,713.405781,5.397605e-79,5.397605e-79,5.397605e-79,2.0,9999.0
ALQ140U,1270.0,2.244882,0.856460,1.000000e+00,1.000000e+00,3.000000e+00,3.0,3.0
ALQ150,4434.0,1.833784,0.434913,1.000000e+00,2.000000e+00,2.000000e+00,2.0,9.0

In [10]:
ALQ.describe().T.to_csv('ALQ_Select.csv')

# Processing Column of ALQ

In [6]:
# ALQ101 - Had at least 12 alcohol drinks in 1 year.
ALQ_reading1 = ALQ['ALQ101']
print('ALQ_reading1 shape = ', ALQ_reading1.shape)
print(ALQ_reading1.head())
print(ALQ_reading1.describe())

ALQ_reading1 shape =  (5707,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    1.0
41481.0    1.0
41482.0    1.0
Name: ALQ101, dtype: float64
count    5233.000000
mean        1.306707
std         0.526212
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         9.000000
Name: ALQ101, dtype: float64

In [7]:
# ALQ120Q How often drink alcohol per week, month, year.
ALQ_reading2 = ALQ['ALQ120Q']
print('ALQ_reading2 shape = ', ALQ_reading2.shape)
print(ALQ_reading2.head())
print(ALQ_reading2.describe())

ALQ_reading2 shape =  (5707,)
SEQN
41475.0    5.397605e-79
41477.0    5.397605e-79
41479.0    3.000000e+00
41481.0    3.000000e+00
41482.0    1.000000e+00
Name: ALQ120Q, dtype: float64
count    4.434000e+03
mean     6.377086e+00
std      5.278063e+01
min      5.397605e-79
25%      5.397605e-79
50%      2.000000e+00
75%      3.000000e+00
max      9.990000e+02
Name: ALQ120Q, dtype: float64

In [8]:
# ALQ150  Ever have 5 drinks or more drinks every day?
ALQ_reading3 = ALQ['ALQ150']
print('ALQ_reading3 shape = ', ALQ_reading3.shape)
print(ALQ_reading3.head())
print(ALQ_reading3.describe())

ALQ_reading3 shape =  (5707,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    2.0
41481.0    2.0
41482.0    1.0
Name: ALQ150, dtype: float64
count    4434.000000
mean        1.833784
std         0.434913
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: ALQ150, dtype: float64

In [9]:
print('ALQ_reading1 missing values =  ', ALQ_reading1.isnull().sum(), 'from ', ALQ_reading1.shape[0], 'observations')
print('ALQ_reading2 missing values =  ', ALQ_reading2.isnull().sum(), 'from ', ALQ_reading2.shape[0], 'observations')
print('ALQ_reading3 missing values =  ', ALQ_reading3.isnull().sum(), 'from ', ALQ_reading3.shape[0], 'observations')

ALQ_reading1 missing values =   474 from  5707 observations
ALQ_reading2 missing values =   1273 from  5707 observations
ALQ_reading3 missing values =   1273 from  5707 observations

In [10]:
All_ALQ = pd.concat([ALQ_reading1,ALQ_reading2,ALQ_reading3],axis=1)
print('All_ALQ shape = ', All_ALQ.shape)
print(All_ALQ.head())
All_ALQ.describe()

All_ALQ shape =  (5707, 3)
         ALQ101       ALQ120Q  ALQ150
SEQN
41475.0     2.0  5.397605e-79     2.0
41477.0     2.0  5.397605e-79     2.0
41479.0     1.0  3.000000e+00     2.0
41481.0     1.0  3.000000e+00     2.0
41482.0     1.0  1.000000e+00     1.0

            ALQ101       ALQ120Q       ALQ150
count  5233.000000  4.434000e+03  4434.000000
mean      1.306707  6.377086e+00     1.833784
std       0.526212  5.278063e+01     0.434913
min       1.000000  5.397605e-79     1.000000
25%       1.000000  5.397605e-79     2.000000
50%       1.000000  2.000000e+00     2.000000
75%       2.000000  3.000000e+00     2.000000
max       9.000000  9.990000e+02     9.000000

In [ ]:
All_SMQ = All_SMQ.to_csv('all_SMQ.csv')