#  Processing Questionnaire - Mental Health-depression screener(DPQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
DPQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', index='SEQN')
DPQ.shape

(5995, 10)

In [5]:
DPQ.describe().T

,count,mean,std,min,25%,50%,75%,max
DPQ010,5449.0,0.372912,0.828352,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ020,5448.0,0.383443,0.778119,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,9.0
DPQ030,5448.0,0.681167,0.999834,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,9.0
DPQ040,5448.0,0.782122,0.985332,5.397605e-79,5.397605e-79,1.000000e+00,1.000000e+00,9.0
DPQ050,5448.0,0.387115,0.810317,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ060,5448.0,0.294787,0.777716,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ070,5448.0,0.270558,0.710176,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ080,5448.0,0.181718,0.625641,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ090,5447.0,0.076556,0.454115,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ100,3703.0,0.367000,0.762833,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,9.0

In [6]:
DPQ.head()

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
SEQN,,,,,,,,,,
41475.0,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
41477.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
41479.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
41481.0,5.397605e-79,5.397605e-79,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
41482.0,9.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79

In [9]:
DPQ.isnull().sum()

DPQ010     546
DPQ020     547
DPQ030     547
DPQ040     547
DPQ050     547
DPQ060     547
DPQ070     547
DPQ080     547
DPQ090     548
DPQ100    2292
dtype: int64

In [10]:
DPQ_filter = DPQ.filter(['DPQ010','DPQ020','DPQ050','DPQ100'])

In [11]:
DPQ_filter.describe().T

,count,mean,std,min,25%,50%,75%,max
DPQ010,5449.0,0.372912,0.828352,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ020,5448.0,0.383443,0.778119,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,9.0
DPQ050,5448.0,0.387115,0.810317,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
DPQ100,3703.0,0.367000,0.762833,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,9.0

In [12]:
DPQ_filter.describe().T.to_csv('DPQ_Selected.csv')

# Processing Column of DPQ

In [5]:
# Little interest in doing things
DPQ_reading1 = DPQ['DPQ010']
print('DPQ_reading1 shape = ', DPQ_reading1.shape)
print(DPQ_reading1.head())
print(DPQ_reading1.describe())

DPQ_reading1 shape =  (5995,)
SEQN
41475.0    1.000000e+00
41477.0    5.397605e-79
41479.0    5.397605e-79
41481.0    5.397605e-79
41482.0    9.000000e+00
Name: DPQ010, dtype: float64
count    5.449000e+03
mean     3.729125e-01
std      8.283524e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      9.000000e+00
Name: DPQ010, dtype: float64

In [6]:
# Feeling down, depressed, or hopeless
DPQ_reading2 = DPQ['DPQ020']
print('DPQ_reading2 shape = ', DPQ_reading2.shape)
print(DPQ_reading2.head())
print(DPQ_reading2.describe())

DPQ_reading2 shape =  (5995,)
SEQN
41475.0    5.397605e-79
41477.0    5.397605e-79
41479.0    5.397605e-79
41481.0    5.397605e-79
41482.0    1.000000e+00
Name: DPQ020, dtype: float64
count    5.448000e+03
mean     3.834435e-01
std      7.781185e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ020, dtype: float64

In [7]:
print('DPQ_reading1 missing values =  ', DPQ_reading1.isnull().sum(), 'from ', DPQ_reading2.shape[0], 'observations')
print('DPQ_reading2 missing values =  ', DPQ_reading2.isnull().sum(), 'from ', DPQ_reading2.shape[0], 'observations')

DPQ_reading1 missing values =   546 from  5995 observations
DPQ_reading2 missing values =   547 from  5995 observations

In [8]:
All_DPQ = pd.concat([DPQ_reading1,DPQ_reading2],axis=1)
print('All_DPQ shape = ', All_DPQ.shape)
print(All_DPQ.head())
All_DPQ.describe()

All_DPQ shape =  (5995, 2)
               DPQ010        DPQ020
SEQN
41475.0  1.000000e+00  5.397605e-79
41477.0  5.397605e-79  5.397605e-79
41479.0  5.397605e-79  5.397605e-79
41481.0  5.397605e-79  5.397605e-79
41482.0  9.000000e+00  1.000000e+00

             DPQ010        DPQ020
count  5.449000e+03  5.448000e+03
mean   3.729125e-01  3.834435e-01
std    8.283524e-01  7.781185e-01
min    5.397605e-79  5.397605e-79
25%    5.397605e-79  5.397605e-79
50%    5.397605e-79  5.397605e-79
75%    5.397605e-79  1.000000e+00
max    9.000000e+00  9.000000e+00

In [9]:
All_DPQ.to_csv('all_DPQ.csv')