#  Processing Questionnaire - Alcohol (ALQ) file

In [2]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [3]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [4]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [5]:
ALQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', index='SEQN')
ALQ.shape

(5707, 8)

# Processing Column of ALQ

In [6]:
# ALQ101 - Had at least 12 alcohol drinks in 1 year.
ALQ_reading1 = ALQ['ALQ101']
print('ALQ_reading1 shape = ', ALQ_reading1.shape)
print(ALQ_reading1.head())
print(ALQ_reading1.describe())

ALQ_reading1 shape =  (5707,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    1.0
41481.0    1.0
41482.0    1.0
Name: ALQ101, dtype: float64
count    5233.000000
mean        1.306707
std         0.526212
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         9.000000
Name: ALQ101, dtype: float64

In [7]:
# ALQ120Q How often drink alcohol per week, month, year.
ALQ_reading2 = ALQ['ALQ120Q']
print('ALQ_reading2 shape = ', ALQ_reading2.shape)
print(ALQ_reading2.head())
print(ALQ_reading2.describe())

ALQ_reading2 shape =  (5707,)
SEQN
41475.0    5.397605e-79
41477.0    5.397605e-79
41479.0    3.000000e+00
41481.0    3.000000e+00
41482.0    1.000000e+00
Name: ALQ120Q, dtype: float64
count    4.434000e+03
mean     6.377086e+00
std      5.278063e+01
min      5.397605e-79
25%      5.397605e-79
50%      2.000000e+00
75%      3.000000e+00
max      9.990000e+02
Name: ALQ120Q, dtype: float64

In [8]:
# ALQ150  Ever have 5 drinks or more drinks every day?
ALQ_reading3 = ALQ['ALQ150']
print('ALQ_reading3 shape = ', ALQ_reading3.shape)
print(ALQ_reading3.head())
print(ALQ_reading3.describe())

ALQ_reading3 shape =  (5707,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    2.0
41481.0    2.0
41482.0    1.0
Name: ALQ150, dtype: float64
count    4434.000000
mean        1.833784
std         0.434913
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: ALQ150, dtype: float64

In [9]:
print('ALQ_reading1 missing values =  ', ALQ_reading1.isnull().sum(), 'from ', ALQ_reading1.shape[0], 'observations')
print('ALQ_reading2 missing values =  ', ALQ_reading2.isnull().sum(), 'from ', ALQ_reading2.shape[0], 'observations')
print('ALQ_reading3 missing values =  ', ALQ_reading3.isnull().sum(), 'from ', ALQ_reading3.shape[0], 'observations')

ALQ_reading1 missing values =   474 from  5707 observations
ALQ_reading2 missing values =   1273 from  5707 observations
ALQ_reading3 missing values =   1273 from  5707 observations

In [10]:
All_ALQ = pd.concat([ALQ_reading1,ALQ_reading2,ALQ_reading3],axis=1)
print('All_ALQ shape = ', All_ALQ.shape)
print(All_ALQ.head())
All_ALQ.describe()

All_ALQ shape =  (5707, 3)
         ALQ101       ALQ120Q  ALQ150
SEQN
41475.0     2.0  5.397605e-79     2.0
41477.0     2.0  5.397605e-79     2.0
41479.0     1.0  3.000000e+00     2.0
41481.0     1.0  3.000000e+00     2.0
41482.0     1.0  1.000000e+00     1.0

            ALQ101       ALQ120Q       ALQ150
count  5233.000000  4.434000e+03  4434.000000
mean      1.306707  6.377086e+00     1.833784
std       0.526212  5.278063e+01     0.434913
min       1.000000  5.397605e-79     1.000000
25%       1.000000  5.397605e-79     2.000000
50%       1.000000  2.000000e+00     2.000000
75%       2.000000  3.000000e+00     2.000000
max       9.000000  9.990000e+02     9.000000

In [ ]:
All_SMQ = All_SMQ.to_csv('all_SMQ.csv')