#  Processing Questionnaire - Physical Activity(PAQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
PAQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', index='SEQN')
PAQ.shape

(9359, 20)

In [5]:
DIQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', index='SEQN')
DIQ.shape

(9666, 35)

In [6]:
A = set(PAQ.columns)
print(sorted(A))

['PAAQUEX', 'PAD590', 'PAD600', 'PAD615', 'PAD630', 'PAD645', 'PAD660', 'PAD675', 'PAD680', 'PAQ560', 'PAQ605', 'PAQ610', 'PAQ620', 'PAQ625', 'PAQ635', 'PAQ640', 'PAQ650', 'PAQ655', 'PAQ665', 'PAQ670']

In [7]:
PAQ.dtypes

PAQ560     float64
PAD590     float64
PAD600     float64
PAQ605     float64
PAQ610     float64
PAD615     float64
PAQ620     float64
PAQ625     float64
PAD630     float64
PAQ635     float64
PAQ640     float64
PAD645     float64
PAQ650     float64
PAQ655     float64
PAD660     float64
PAQ665     float64
PAQ670     float64
PAD675     float64
PAD680     float64
PAAQUEX    float64
dtype: object

In [8]:
PAQ.head()

,PAQ560,PAD590,PAD600,PAQ605,PAQ610,PAD615,PAQ620,PAQ625,PAD630,PAQ635,PAQ640,PAD645,PAQ650,PAQ655,PAD660,PAQ665,PAQ670,PAD675,PAD680,PAAQUEX
SEQN,,,,,,,,,,,,,,,,,,,,
41475.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,720.0,1.0
41476.0,7.0,2.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41477.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,240.0,1.0
41479.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,5.0,180.0,1.0,5.0,120.0,2.0,NaN,NaN,2.0,NaN,NaN,180.0,1.0
41480.0,7.0,1.0,6.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [9]:
PAQ.isnull().sum()

PAQ560     7427
PAD590     7427
PAD600     7427
PAQ605     2254
PAQ610     8056
PAD615     8069
PAQ620     2254
PAQ625     6713
PAD630     6726
PAQ635     2254
PAQ640     7368
PAD645     7376
PAQ650     2254
PAQ655     7502
PAD660     7509
PAQ665     2254
PAQ670     6698
PAD675     6707
PAD680     2268
PAAQUEX       0
dtype: int64

In [10]:
PAQ.describe().T

,count,mean,std,min,25%,50%,75%,max
PAQ560,1932.0,7.371636,39.212874,5.397605e-79,5.000000e+00,7.0,7.0,999.0
PAD590,1932.0,2.257246,2.681346,5.397605e-79,1.000000e+00,2.0,3.0,99.0
PAD600,1932.0,2.675983,5.073217,5.397605e-79,5.397605e-79,1.0,6.0,99.0
PAQ605,7105.0,1.816608,0.387015,1.000000e+00,2.000000e+00,2.0,2.0,2.0
PAQ610,1303.0,4.135840,3.174030,1.000000e+00,3.000000e+00,5.0,5.0,99.0
PAD615,1290.0,216.991473,419.171897,1.000000e+01,6.000000e+01,180.0,300.0,9999.0
PAQ620,7105.0,1.628571,0.491310,1.000000e+00,1.000000e+00,2.0,2.0,9.0
PAQ625,2646.0,4.392290,3.158258,1.000000e+00,3.000000e+00,5.0,5.0,99.0
PAD630,2633.0,185.026206,411.747830,1.000000e+01,6.000000e+01,120.0,240.0,9999.0
PAQ635,7105.0,1.719775,0.449141,1.000000e+00,1.000000e+00,2.0,2.0,2.0
PAQ640,1991.0,4.975892,2.865042,1.000000e+00,3.000000e+00,5.0,7.0,99.0
PAD645,1983.0,85.808371,453.439651,1.000000e+01,2.000000e+01,30.0,60.0,9999.0
PAQ650,7105.0,1.739620,0.447764,1.000000e+00,1.000000e+00,2.0,2.0,9.0
PAQ655,1857.0,3.465267,1.749694,1.000000e+00,2.000000e+00,3.0,5.0,7.0
PAD660,1850.0,91.133514,239.455647,1.000000e+01,4.500000e+01,60.0,120.0,9999.0
PAQ665,7105.0,1.625475,0.484034,1.000000e+00,1.000000e+00,2.0,2.0,2.0
PAQ670,2661.0,3.485908,3.700880,1.000000e+00,2.000000e+00,3.0,5.0,99.0
PAD675,2652.0,73.335219,204.111880,1.000000e+01,3.000000e+01,60.0,90.0,9999.0
PAD680,7091.0,357.717106,576.008867,5.397605e-79,1.800000e+02,300.0,480.0,9999.0
PAAQUEX,9359.0,1.065178,0.246853,1.000000e+00,1.000000e+00,1.0,1.0,2.0

In [11]:
PAQ_filter = PAQ.filter(['PAQ605','PAQ620','PAQ635','PAQ650'])

In [12]:
PAQ_filter.describe().T

         count      mean       std  min  25%  50%  75%  max
PAQ605  7105.0  1.816608  0.387015  1.0  2.0  2.0  2.0  2.0
PAQ620  7105.0  1.628571  0.491310  1.0  1.0  2.0  2.0  9.0
PAQ635  7105.0  1.719775  0.449141  1.0  1.0  2.0  2.0  2.0
PAQ650  7105.0  1.739620  0.447764  1.0  1.0  2.0  2.0  9.0

In [16]:
PAQ_filter.describe().T.to_csv('PAQ_Select.csv')

In [13]:
PAQ_filter.reset_index()

         SEQN  PAQ605  PAQ620  PAQ635  PAQ650
0     41475.0     2.0     2.0     2.0     2.0
1     41476.0     NaN     NaN     NaN     NaN
2     41477.0     2.0     2.0     2.0     2.0
3     41479.0     2.0     1.0     1.0     2.0
4     41480.0     NaN     NaN     NaN     NaN
5     41481.0     2.0     2.0     1.0     1.0
6     41482.0     2.0     2.0     2.0     2.0
7     41483.0     2.0     2.0     2.0     2.0
8     41485.0     2.0     1.0     2.0     2.0
9     41486.0     2.0     2.0     2.0     2.0
10    41487.0     2.0     2.0     1.0     1.0
11    41488.0     NaN     NaN     NaN     NaN
12    41489.0     2.0     2.0     2.0     2.0
13    41490.0     2.0     2.0     2.0     2.0
14    41491.0     NaN     NaN     NaN     NaN
15    41492.0     2.0     2.0     1.0     2.0
16    41493.0     2.0     2.0     1.0     2.0
17    41494.0     1.0     1.0     2.0     2.0
18    41495.0     1.0     2.0     2.0     2.0
19    41496.0     2.0     2.0     2.0     2.0
20    41497.0     NaN     NaN     NaN     NaN
21    41498.0     2.0     2.0     2.0     2.0
22    41499.0     2.0     2.0     1.0     2.0
23    41500.0     2.0     1.0     2.0     1.0
24    41501.0     2.0     2.0     2.0     1.0
25    41502.0     2.0     1.0     2.0     2.0
26    41503.0     2.0     2.0     2.0     1.0
27    41504.0     2.0     1.0     2.0     2.0
28    41506.0     2.0     2.0     2.0     2.0
29    41507.0     NaN     NaN     NaN     NaN
...       ...     ...     ...     ...     ...
9329  51591.0     2.0     2.0     2.0     2.0
9330  51592.0     2.0     2.0     1.0     2.0
9331  51593.0     2.0     1.0     2.0     2.0
9332  51594.0     1.0     1.0     2.0     1.0
9333  51595.0     2.0     2.0     2.0     2.0
9334  51596.0     2.0     1.0     2.0     2.0
9335  51597.0     NaN     NaN     NaN     NaN
9336  51600.0     NaN     NaN     NaN     NaN
9337  51601.0     NaN     NaN     NaN     NaN
9338  51602.0     1.0     1.0     2.0     1.0
9339  51603.0     2.0     2.0     1.0     1.0
9340  51604.0     2.0     1.0     2.0     1.0
9341  51606.0     2.0     2.0     2.0     2.0
9342  51607.0     NaN     NaN     NaN     NaN
9343  51608.0     2.0     2.0     2.0     2.0
9344  51609.0     2.0     1.0     1.0     1.0
9345  51610.0     2.0     2.0     2.0     2.0
9346  51611.0     2.0     2.0     1.0     2.0
9347  51612.0     NaN     NaN     NaN     NaN
9348  51613.0     2.0     2.0     1.0     1.0
9349  51614.0     2.0     1.0     1.0     2.0
9350  51615.0     2.0     2.0     2.0     2.0
9351  51616.0     2.0     2.0     2.0     2.0
9352  51617.0     2.0     2.0     1.0     2.0
9353  51618.0     2.0     2.0     2.0     2.0
9354  51619.0     1.0     1.0     2.0     2.0
9355  51620.0     1.0     1.0     1.0     2.0
9356  51621.0     2.0     2.0     1.0     1.0
9357  51622.0     2.0     2.0     2.0     2.0
9358  51623.0     2.0     2.0     2.0     2.0

[9359 rows x 5 columns]

In [14]:
PAQ_filter.to_csv('PAQ_Ques_filter.csv')

# Processing Column of PAQ

In [6]:
# PAQ620 - Moderate work activity
PAQ_reading1 = PAQ['PAQ620']
print('PAQ_reading1 shape = ', PAQ_reading1.shape)
print(PAQ_reading1.head())
print(PAQ_reading1.describe())

PAQ_reading1 shape =  (9359,)
SEQN
41475.0    2.0
41476.0    NaN
41477.0    2.0
41479.0    1.0
41480.0    NaN
Name: PAQ620, dtype: float64
count    7105.000000
mean        1.628571
std         0.491310
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: PAQ620, dtype: float64

In [9]:
# PAQ665 - Moderate recreational activities
PAQ_reading2 = PAQ['PAQ650']
print('PAQ_reading2 shape = ', PAQ_reading2.shape)
print(PAQ_reading2.head())
print(PAQ_reading2.describe())

PAQ_reading2 shape =  (9359,)
SEQN
41475.0    2.0
41476.0    NaN
41477.0    2.0
41479.0    2.0
41480.0    NaN
Name: PAQ650, dtype: float64
count    7105.000000
mean        1.739620
std         0.447764
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: PAQ650, dtype: float64

In [10]:
print('PAQ_reading1 missing values =  ', PAQ_reading1.isnull().sum(), 'from ', PAQ_reading1.shape[0], 'observations')
print('PAQ_reading2 missing values =  ', PAQ_reading2.isnull().sum(), 'from ', PAQ_reading2.shape[0], 'observations')

PAQ_reading1 missing values =   2254 from  9359 observations
PAQ_reading2 missing values =   2254 from  9359 observations

In [11]:
All_PAQ = pd.concat([PAQ_reading1,PAQ_reading1],axis=1)
print('All_PAQ shape = ', All_PAQ.shape)
print(All_PAQ.head())
All_PAQ.describe()

All_PAQ shape =  (9359, 2)
         PAQ620  PAQ620
SEQN
41475.0     2.0     2.0
41476.0     NaN     NaN
41477.0     2.0     2.0
41479.0     1.0     1.0
41480.0     NaN     NaN

            PAQ620       PAQ620
count  7105.000000  7105.000000
mean      1.628571     1.628571
std       0.491310     0.491310
min       1.000000     1.000000
25%       1.000000     1.000000
50%       2.000000     2.000000
75%       2.000000     2.000000
max       9.000000     9.000000

In [14]:
All_PAQ.to_csv('all_PAQ.csv')