#  Processing Questionnaire - General Health Condition (HUQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
#os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
HUQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', index='SEQN')
HUQ.shape

(10149, 9)

In [5]:
HSQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', index='SEQN')
HSQ.shape

(9307, 13)

In [6]:
DIQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', index='SEQN')
DIQ.shape

(9666, 35)

In [7]:
HUQ.head()

,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
SEQN,,,,,,,,,
41475.0,4.0,2.0,1.0,1.0,3.000000e+00,NaN,2.0,NaN,2.0
41476.0,1.0,3.0,1.0,2.0,1.000000e+00,NaN,2.0,NaN,2.0
41477.0,3.0,3.0,1.0,1.0,2.000000e+00,NaN,2.0,NaN,2.0
41478.0,3.0,3.0,1.0,2.0,2.000000e+00,NaN,2.0,NaN,NaN
41479.0,3.0,3.0,1.0,2.0,5.397605e-79,4.0,2.0,NaN,2.0

In [8]:
HUQ.isnull().sum()

HUQ010       0
HUQ020     483
HUQ030       0
HUQ040    1184
HUQ050       0
HUQ060    8700
HUQ071       0
HUD080    9109
HUQ090    1300
dtype: int64

In [9]:
HUQ.describe().T

          count        mean          std           min  25%  50%  75%      max
HUQ010  10149.0    2.418662     1.142235  1.000000e+00  1.0  2.0  3.0      9.0
HUQ020   9666.0    2.569419     0.774124  1.000000e+00  2.0  3.0  3.0      9.0
HUQ030  10149.0    1.123658     0.346702  1.000000e+00  1.0  1.0  1.0      9.0
HUQ040   8965.0    1.889459     0.624812  1.000000e+00  2.0  2.0  2.0      9.0
HUQ050  10149.0    2.145827     3.113953  5.397605e-79  1.0  2.0  3.0     99.0
HUQ060   1449.0    3.176674     0.847800  1.000000e+00  3.0  3.0  4.0      9.0
HUQ071  10149.0    1.898906     0.319248  1.000000e+00  2.0  2.0  2.0      9.0
HUD080   1040.0  193.763462  4383.071503  1.000000e+00  1.0  1.0  2.0  99999.0
HUQ090   8849.0    1.927901     0.258666  1.000000e+00  2.0  2.0  2.0      2.0

In [10]:
HUQ_filter = HUQ.filter(['HUQ010','HUQ040','HUQ071'])

In [11]:
HUQ_filter.describe().T

          count      mean       std  min  25%  50%  75%  max
HUQ010  10149.0  2.418662  1.142235  1.0  1.0  2.0  3.0  9.0
HUQ040   8965.0  1.889459  0.624812  1.0  2.0  2.0  2.0  9.0
HUQ071  10149.0  1.898906  0.319248  1.0  2.0  2.0  2.0  9.0

In [13]:
HUQ_filter.describe().T.to_csv('HUQ_Select.csv')

In [12]:
HUQ_filter.reset_index()

          SEQN  HUQ010  HUQ040  HUQ071
0      41475.0     4.0     1.0     2.0
1      41476.0     1.0     2.0     2.0
2      41477.0     3.0     1.0     2.0
3      41478.0     3.0     2.0     2.0
4      41479.0     3.0     2.0     2.0
5      41480.0     3.0     1.0     2.0
6      41481.0     3.0     1.0     2.0
7      41482.0     4.0     1.0     2.0
8      41483.0     4.0     2.0     2.0
9      41484.0     2.0     2.0     2.0
10     41485.0     4.0     NaN     2.0
11     41486.0     4.0     1.0     2.0
12     41487.0     2.0     NaN     2.0
13     41488.0     4.0     2.0     2.0
14     41489.0     4.0     2.0     2.0
15     41490.0     3.0     2.0     2.0
16     41491.0     2.0     1.0     2.0
17     41492.0     1.0     2.0     2.0
18     41493.0     3.0     2.0     2.0
19     41494.0     3.0     NaN     2.0
20     41495.0     5.0     2.0     2.0
21     41496.0     5.0     3.0     2.0
22     41497.0     3.0     1.0     2.0
23     41498.0     3.0     2.0     2.0
24     41499.0     3.0     2.0     2.0
25     41500.0     3.0     NaN     2.0
26     41501.0     1.0     2.0     2.0
27     41502.0     2.0     NaN     2.0
28     41503.0     2.0     2.0     2.0
29     41504.0     3.0     1.0     2.0
...        ...     ...     ...     ...
10119  51594.0     3.0     2.0     2.0
10120  51595.0     2.0     2.0     2.0
10121  51596.0     4.0     NaN     2.0
10122  51597.0     2.0     2.0     2.0
10123  51598.0     2.0     2.0     2.0
10124  51599.0     1.0     2.0     2.0
10125  51600.0     1.0     1.0     2.0
10126  51601.0     1.0     2.0     2.0
10127  51602.0     3.0     NaN     2.0
10128  51603.0     2.0     2.0     2.0
10129  51604.0     2.0     1.0     2.0
10130  51605.0     1.0     2.0     1.0
10131  51606.0     4.0     1.0     2.0
10132  51607.0     1.0     2.0     2.0
10133  51608.0     1.0     NaN     2.0
10134  51609.0     3.0     1.0     2.0
10135  51610.0     5.0     2.0     1.0
10136  51611.0     3.0     2.0     2.0
10137  51612.0     1.0     2.0     2.0
10138  51613.0     4.0     2.0     2.0
10139  51614.0     3.0     1.0     1.0
10140  51615.0     4.0     1.0     1.0
10141  51616.0     4.0     2.0     2.0
10142  51617.0     4.0     2.0     2.0
10143  51618.0     3.0     2.0     2.0
10144  51619.0     5.0     1.0     2.0
10145  51620.0     1.0     NaN     2.0
10146  51621.0     1.0     NaN     2.0
10147  51622.0     3.0     NaN     2.0
10148  51623.0     3.0     2.0     1.0

[10149 rows x 4 columns]

In [13]:
HUQ_filter.to_csv('HUQ_Ques_filter.csv')

# Processing Column of HUQ

In [6]:
# HUQ010 - General health condition
HUQ_reading1 = HUQ['HUQ010']
print('HUQ_reading1 shape = ', HUQ_reading1.shape)
print(HUQ_reading1.head())
print(HUQ_reading1.describe())

HUQ_reading1 shape =  (10149,)
SEQN
41475.0    4.0
41476.0    1.0
41477.0    3.0
41478.0    3.0
41479.0    3.0
Name: HUQ010, dtype: float64
count    10149.000000
mean         2.418662
std          1.142235
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          9.000000
Name: HUQ010, dtype: float64

In [7]:
# HSQ - General health condition
HSQ_reading1 = HSQ['HSD010']
print('HSQ_reading1 shape = ', HSQ_reading1.shape)
print(HSQ_reading1.head())
print(HSQ_reading1.describe())

HSQ_reading1 shape =  (9307,)
SEQN
41475.0    3.0
41476.0    NaN
41477.0    3.0
41478.0    NaN
41479.0    4.0
Name: HSD010, dtype: float64
count    6356.000000
mean        2.779264
std         0.999237
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         9.000000
Name: HSD010, dtype: float64

In [12]:
DIQ_reading1 = DIQ['DIQ010']
print('DIQ_reading1 shape = ', DIQ_reading1.shape)
print(DIQ_reading1.head())
print(DIQ_reading1.describe())

DIQ_reading1 shape =  (9666,)
SEQN
41475.0    2.0
41476.0    2.0
41477.0    1.0
41478.0    2.0
41479.0    2.0
Name: DIQ010, dtype: float64
count    9666.000000
mean        1.937099
std         0.364736
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: DIQ010, dtype: float64

In [15]:
print('HUQ missing values =  ', HUQ_reading1.isnull().sum(), 'from ', HUQ_reading1.shape[0], 'observations')
print('HSQ missing values =  ', HSQ_reading1.isnull().sum(), 'from ', HSQ_reading1.shape[0], 'observations')
print('DIQ missing values =  ', DIQ_reading1.isnull().sum(), 'from ', DIQ_reading1.shape[0], 'observations')

HUQ missing values =   0 from  10149 observations
HSQ missing values =   2951 from  9307 observations
DIQ missing values =   0 from  9666 observations

In [13]:
All_HUQ = pd.concat([HSQ_reading1,HUQ_reading1,DIQ_reading1],axis=1)
print('All_HUQ shape = ', All_HUQ.shape)
print(All_HUQ.head())
All_HUQ.describe()

All_HUQ shape =  (10149, 3)
         HSD010  HUQ010  DIQ010
SEQN
41475.0     3.0     4.0     2.0
41476.0     NaN     1.0     2.0
41477.0     3.0     3.0     1.0
41478.0     NaN     3.0     2.0
41479.0     4.0     3.0     2.0

            HSD010        HUQ010       DIQ010
count  6356.000000  10149.000000  9666.000000
mean      2.779264      2.418662     1.937099
std       0.999237      1.142235     0.364736
min       1.000000      1.000000     1.000000
25%       2.000000      1.000000     2.000000
50%       3.000000      2.000000     2.000000
75%       3.000000      3.000000     2.000000
max       9.000000      9.000000     9.000000

In [14]:
All_HUQ.to_csv('all_HUQ.csv')