#  Processing Questionnaire - Vision (VIQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
# %cd C:\Users\Ganga\Desktop\Research\CDCDiab_2.0\Data\07-08\Examination
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
os.getcwd()

In [ ]:
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

In [ ]:
# Set desired file name
# fname = '.\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [4]:
VIQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', index='SEQN')
VIQ.shape

(7173, 17)

In [5]:
A = set(VIQ.columns)
print(sorted(A))

['VIQ010', 'VIQ017', 'VIQ031', 'VIQ041', 'VIQ051A', 'VIQ051B', 'VIQ051C', 'VIQ051D', 'VIQ051E', 'VIQ056', 'VIQ061', 'VIQ071', 'VIQ081', 'VIQ090', 'VIQ100', 'VIQ310', 'VIQ320']

In [6]:
VIQ.dtypes

VIQ010     float64
VIQ017     float64
VIQ031     float64
VIQ041     float64
VIQ051A    float64
VIQ051B    float64
VIQ051C    float64
VIQ051D    float64
VIQ051E    float64
VIQ056     float64
VIQ061     float64
VIQ071     float64
VIQ081     float64
VIQ090     float64
VIQ100     float64
VIQ310     float64
VIQ320     float64
dtype: object

In [7]:
VIQ.isnull().sum()

VIQ010        0
VIQ017     7164
VIQ031        8
VIQ041        8
VIQ051A    1246
VIQ051B    1246
VIQ051C    1246
VIQ051D    1246
VIQ051E    1246
VIQ056     1246
VIQ061     1246
VIQ071     1238
VIQ081     6542
VIQ090     3149
VIQ100     6910
VIQ310     3149
VIQ320     7025
dtype: int64

In [8]:
VIQ.head()

,VIQ010,VIQ017,VIQ031,VIQ041,VIQ051A,VIQ051B,VIQ051C,VIQ051D,VIQ051E,VIQ056,VIQ061,VIQ071,VIQ081,VIQ090,VIQ100,VIQ310,VIQ320
SEQN,,,,,,,,,,,,,,,,,
41475.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,5.397605e-79,2.0,NaN,2.0,NaN,2.0,NaN
41477.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,5.397605e-79,2.0,NaN,2.0,NaN,2.0,NaN
41479.0,1.0,NaN,3.0,2.000000e+00,3.0,2.0,1.0,1.0,1.0,1.0,5.397605e-79,2.0,NaN,2.0,NaN,2.0,NaN
41481.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,5.397605e-79,2.0,NaN,NaN,NaN,NaN,NaN
41482.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0,2.0,1.0,1.0,1.0,5.397605e-79,2.0,NaN,2.0,NaN,2.0,NaN

In [9]:
VIQ_filter = VIQ.filter(['VIQ031','VIQ051A','VIQ051B','VIQ056','VIQ061','VIQ090'])

In [10]:
VIQ_filter.describe().T

,count,mean,std,min,25%,50%,75%,max
VIQ031,7165.0,1.929798,0.868816,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,9.0
VIQ051A,5927.0,1.499916,2.404355,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,99.0
VIQ051B,5927.0,1.366459,1.551243,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,99.0
VIQ056,5927.0,1.829425,2.284541,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,99.0
VIQ061,5927.0,0.242450,0.737661,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,9.0
VIQ090,4024.0,1.958996,0.483954,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,9.0

In [15]:
VIQ_filter.describe().T.to_csv('VIQ_Select.csv')

In [12]:
VIQ_filter.reset_index()

         SEQN  VIQ031  VIQ051A  VIQ051B  VIQ056        VIQ061  VIQ090
0     41475.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
1     41477.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
2     41479.0     3.0      3.0      2.0     1.0  5.397605e-79     2.0
3     41481.0     2.0      1.0      1.0     1.0  5.397605e-79     NaN
4     41482.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
5     41483.0     1.0      2.0      1.0     1.0  5.397605e-79     2.0
6     41485.0     3.0      1.0      1.0     1.0  5.397605e-79     NaN
7     41486.0     3.0      3.0      3.0     7.0  5.397605e-79     2.0
8     41487.0     1.0      1.0      1.0     1.0  5.397605e-79     NaN
9     41489.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
10    41490.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
11    41492.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
12    41493.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
13    41494.0     2.0      1.0      6.0     1.0  5.397605e-79     2.0
14    41495.0     3.0      4.0      4.0     3.0  1.000000e+00     2.0
15    41496.0     4.0      3.0      1.0     7.0  4.000000e+00     2.0
16    41498.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
17    41499.0     2.0      NaN      NaN     NaN           NaN     NaN
18    41500.0     3.0      NaN      NaN     NaN           NaN     NaN
19    41501.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
20    41502.0     1.0      1.0      1.0     1.0  5.397605e-79     NaN
21    41503.0     1.0      NaN      NaN     NaN           NaN     NaN
22    41504.0     1.0      2.0      2.0     1.0  1.000000e+00     2.0
23    41506.0     2.0      1.0      6.0     6.0  5.397605e-79     1.0
24    41509.0     2.0      3.0      3.0     1.0  3.000000e+00     2.0
25    41510.0     2.0      1.0      1.0     1.0  5.397605e-79     NaN
26    41511.0     1.0      1.0      1.0     1.0  5.397605e-79     NaN
27    41512.0     5.0      5.0      5.0     7.0  4.000000e+00     1.0
28    41513.0     5.0      2.0      1.0     3.0  3.000000e+00     1.0
29    41514.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
...       ...     ...      ...      ...     ...           ...     ...
7143  51585.0     2.0      1.0      1.0     6.0  5.397605e-79     2.0
7144  51587.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
7145  51588.0     2.0      NaN      NaN     NaN           NaN     NaN
7146  51589.0     2.0      1.0      1.0     1.0  5.397605e-79     NaN
7147  51590.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
7148  51591.0     3.0      2.0      1.0     1.0  5.397605e-79     2.0
7149  51592.0     3.0      2.0      2.0     7.0  5.397605e-79     2.0
7150  51593.0     2.0      3.0      3.0     1.0  5.397605e-79     2.0
7151  51594.0     2.0      1.0      1.0     1.0  5.397605e-79     NaN
7152  51595.0     2.0      1.0      1.0     1.0  5.397605e-79     NaN
7153  51596.0     2.0      2.0      2.0     2.0  5.397605e-79     2.0
7154  51602.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
7155  51603.0     1.0      1.0      1.0     1.0  5.397605e-79     NaN
7156  51604.0     1.0      1.0      1.0     1.0  5.397605e-79     2.0
7157  51606.0     3.0      1.0      1.0     1.0  5.397605e-79     2.0
7158  51608.0     1.0      1.0      1.0     1.0  5.397605e-79     NaN
7159  51609.0     2.0      NaN      NaN     NaN           NaN     NaN
7160  51610.0     2.0      2.0      2.0     7.0  5.397605e-79     2.0
7161  51611.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
7162  51613.0     1.0      NaN      NaN     NaN           NaN     NaN
7163  51614.0     3.0      3.0      3.0     1.0  5.397605e-79     2.0
7164  51615.0     3.0      3.0      2.0     7.0  2.000000e+00     2.0
7165  51616.0     2.0      1.0      1.0     1.0  5.397605e-79     2.0
7166  51617.0     2.0      3.0      2.0     2.0  2.000000e+00     2.0
7167  51618.0     1.0      2.0      2.0     1.0  5.397605e-79     2.0
7168  51619.0     3.0      1.0      1.0     1.0  5.397605e-79     2.0
7169  51620.0     3.0      1.0      1.0     1.0  5.397605e-79     2.0
7170  51621.0     1.0      NaN      NaN     NaN           NaN     NaN
7171  51622.0     3.0      2.0      1.0     1.0  5.397605e-79     2.0
7172  51623.0     2.0      1.0      1.0     6.0  5.397605e-79     2.0

[7173 rows x 7 columns]

In [11]:
VIQ_filter.to_csv('VIQ_Ques_filter.csv')

# Processing Column of VIQ

In [5]:
# VIQ031 - General condition of eyesight
VIQ_reading1 = VIQ['VIQ031']
print('VIQ_reading1 shape = ', VIQ_reading1.shape)
print(VIQ_reading1.head())
print(VIQ_reading1.describe())

VIQ_reading1 shape =  (7173,)
SEQN
41475.0    2.0
41477.0    2.0
41479.0    3.0
41481.0    2.0
41482.0    2.0
Name: VIQ031, dtype: float64
count    7165.000000
mean        1.929798
std         0.868816
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: VIQ031, dtype: float64

In [6]:
# VIQ051A - Difficulty reading ordinary newsprint
VIQ_reading2 = VIQ['VIQ051A']
print('VIQ_reading2 shape = ', VIQ_reading2.shape)
print(VIQ_reading2.head())
print(VIQ_reading2.describe())

VIQ_reading2 shape =  (7173,)
SEQN
41475.0    1.0
41477.0    1.0
41479.0    3.0
41481.0    1.0
41482.0    1.0
Name: VIQ051A, dtype: float64
count    5927.000000
mean        1.499916
std         2.404355
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        99.000000
Name: VIQ051A, dtype: float64

In [7]:
print('VIQ_reading1 missing values =  ', VIQ_reading1.isnull().sum(), 'from ', VIQ_reading1.shape[0], 'observations')
print('VIQ_reading2 missing values =  ', VIQ_reading2.isnull().sum(), 'from ', VIQ_reading2.shape[0], 'observations')

VIQ_reading1 missing values =   8 from  7173 observations
VIQ_reading2 missing values =   1246 from  7173 observations

In [8]:
All_VIQ = pd.concat([VIQ_reading1,VIQ_reading2],axis=1)
print('All_VIQ shape = ', All_VIQ.shape)
print(All_VIQ.head())
All_VIQ.describe()

All_VIQ shape =  (7173, 2)
         VIQ031  VIQ051A
SEQN
41475.0     2.0      1.0
41477.0     2.0      1.0
41479.0     3.0      3.0
41481.0     2.0      1.0
41482.0     2.0      1.0

            VIQ031      VIQ051A
count  7165.000000  5927.000000
mean      1.929798     1.499916
std       0.868816     2.404355
min       1.000000     1.000000
25%       1.000000     1.000000
50%       2.000000     1.000000
75%       2.000000     1.000000
max       9.000000    99.000000

In [14]:
All_VIQ.to_csv('all_VIQ.csv')