#  Processing Dietary - Dietary Interview (DR1IFF) File

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [3]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DR1IFF_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DR1TOT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DR2IFF_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DR2TOT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DS1IDS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DS1TOT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DS2IDS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DS2TOT_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DSQIDS_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DSQTOT_E.XPT']

In [12]:
Diet = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Diatery\\DS1IDS_E.XPT', index='SEQN')
Diet.shape

(5723, 45)

In [15]:
Diet.head()

,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRDINT,DR1DAY,DS1LOC,DR1LANG,DSDSUPID,DS1ANTA,...,DS1ICALC,DS1IPHOS,DS1IMAGN,DS1IIRON,DS1IZINC,DS1ICOPP,DS1ISODI,DS1IPOTA,DS1ISELE,DS1ICAFF
SEQN,,,,,,,,,,,,,,,,,,,,,
41475.0,53942.247631,58815.545267,1.0,23.0,2.0,5.0,1.0,1.0,b'1000520000',5.397605e-79,...,100.0,NaN,50.0,NaN,7.5,1.0,NaN,NaN,100.0,NaN
41475.0,53942.247631,58815.545267,1.0,23.0,2.0,5.0,1.0,1.0,b'1888213202',5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41475.0,53942.247631,58815.545267,1.0,23.0,2.0,5.0,1.0,1.0,b'1888006202',5.397605e-79,...,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41476.0,20558.408369,16752.049990,1.0,25.0,2.0,7.0,1.0,1.0,b'1888361800',5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41479.0,5078.443529,4353.945307,1.0,22.0,2.0,6.0,1.0,2.0,b'1000694000',5.397605e-79,...,210.0,NaN,120.0,NaN,15.0,2.0,NaN,100.0,105.0,NaN

In [21]:
SMQFAM = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', index='SEQN')
SMQFAM.shape

(10149, 4)

In [28]:
SMQRTU = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', index='SEQN')
SMQRTU.shape

(6917, 23)

# Processing Column of SMQ

In [16]:
# DS1ICHOL - Cholesterol (mg)
Diet_reading1 = Diet['DS1ICHOL']
print('Diet_reading1 shape = ', Diet_reading1.shape)
print(Diet_reading1.head())
print(Diet_reading1.describe())

Diet_reading1 shape =  (5723,)
SEQN
41475.0   NaN
41475.0   NaN
41475.0   NaN
41476.0   NaN
41479.0   NaN
Name: DS1ICHOL, dtype: float64
count    190.000000
mean      11.661684
std       10.743141
min        0.650000
25%        5.000000
50%       10.000000
75%       12.500000
max       80.000000
Name: DS1ICHOL, dtype: float64

In [18]:
# DS1ICARB - Carbohydrate (Gm)
Diet_reading2 = Diet['DS1ICARB']
print('Diet_reading2 shape = ', Diet_reading2.shape)
print(Diet_reading2.head())
print(Diet_reading2.describe())

Diet_reading2 shape =  (5723,)
SEQN
41475.0   NaN
41475.0   NaN
41475.0   NaN
41476.0   NaN
41479.0   NaN
Name: DS1ICARB, dtype: float64
count    819.000000
mean       2.961278
std        7.501619
min        0.002000
25%        1.000000
50%        1.000000
75%        3.000000
max      168.000000
Name: DS1ICARB, dtype: float64

In [17]:
# DS1ISUGR - Total Sugars(Gm)
Diet_reading3 = Diet['DS1ISUGR']
print('Diet_reading3 shape = ', Diet_reading3.shape)
print(Diet_reading3.head())
print(Diet_reading3.describe())

Diet_reading3 shape =  (5723,)
SEQN
41475.0   NaN
41475.0   NaN
41475.0   NaN
41476.0   NaN
41479.0   NaN
Name: DS1ISUGR, dtype: float64
count    512.000000
mean       2.516589
std        2.809746
min        0.040000
25%        1.000000
50%        2.000000
75%        3.000000
max       36.000000
Name: DS1ISUGR, dtype: float64

In [20]:
print('Diet_reading1 missing values =  ', Diet_reading1.isnull().sum(), 'from ', Diet_reading1.shape[0], 'observations')
print('Diet_reading2 missing values =  ', Diet_reading2.isnull().sum(), 'from ', Diet_reading2.shape[0], 'observations')
print('Diet_reading3 missing values =  ', Diet_reading3.isnull().sum(), 'from ', Diet_reading3.shape[0], 'observations')

Diet_reading1 missing values =   5533 from  5723 observations
Diet_reading2 missing values =   4904 from  5723 observations
Diet_reading3 missing values =   5211 from  5723 observations

In [22]:
All_DR1IFF = pd.concat([Diet_reading1,Diet_reading2,Diet_reading3],axis=1)
print('All_DR1IFF shape = ', All_DR1IFF.shape)
print(All_DR1IFF.head())
All_DR1IFF.describe()

All_DR1IFF shape =  (5723, 3)
         DS1ICHOL  DS1ICARB  DS1ISUGR
SEQN
41475.0       NaN       NaN       NaN
41475.0       NaN       NaN       NaN
41475.0       NaN       NaN       NaN
41476.0       NaN       NaN       NaN
41479.0       NaN       NaN       NaN

         DS1ICHOL    DS1ICARB    DS1ISUGR
count  190.000000  819.000000  512.000000
mean    11.661684    2.961278    2.516589
std     10.743141    7.501619    2.809746
min      0.650000    0.002000    0.040000
25%      5.000000    1.000000    1.000000
50%     10.000000    1.000000    2.000000
75%     12.500000    3.000000    3.000000
max     80.000000  168.000000   36.000000

In [14]:
All_DR1IFF = All_DR1IFF.to_csv('all_SMQ.csv')