#  Processing Questionnaire - Current Health Status (HSQ) file

In [1]:
import numpy as np
import pandas as pd
import glob 
import os
import sys

In [2]:
os.getcwd()

'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Code'

In [ ]:
# Select working directory
Path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Examination'
#%cd /Users/elgayaro/Main/Research/Healthcare/CDC-NHANES/Data/07-08/Examination

In [ ]:
os.getcwd()

In [ ]:
# Omar
#allFiles = glob.glob(os.path.join('.',"*.XPT"))
#print(allFiles)

#Ganga
allFiles = glob.glob(os.path.join(Path,"*.XPT"))
print(allFiles)

In [ ]:
# Set desired file name
#fname = 'Path\\BMX_E.XPT'  # Ganga
#fname = './BMX_E.XPT'   # Omar
#BMX = pd.read_sas(fname, index='SEQN')
#BMX.shape

In [4]:
path = 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest'
allFiles = glob.glob(os.path.join(path,"*.XPT"))
print(allFiles)

['C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ACQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ALQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AQQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\AUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\BPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFA_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQPFC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\CDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DBQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DPQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\ECQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\FSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HOQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HUQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\IMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\INQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_P_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\KIQ_U_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\MCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OCQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\OSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PAQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PFQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\PUQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RDQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RHQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\RXQ_RX_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SLQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQFAM_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQRTU_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SMQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SSQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\SXQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\VIQ_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQMEC_E.XPT', 'C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\WHQ_E.XPT']

In [5]:
HSQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\HSQ_E.XPT', index='SEQN')
HSQ.shape

(9307, 13)

In [6]:
DIQ = pd.read_sas('C:\\Users\\Ganga\\Desktop\\Research\\CDCDiab_2.0\\Data\\07-08\\Quest\\DIQ_E.XPT', index='SEQN')
DIQ.shape

(9666, 35)

In [7]:
HSQ.head()

,HSD010,HSQ470,HSQ480,HSQ490,HSQ493,HSQ496,HSQ500,HSQ510,HSQ520,HSQ571,HSQ580,HSQ590,HSAQUEX
SEQN,,,,,,,,,,,,,
41475.0,3.0,9.000000e+00,5.000000e+00,3.000000e+00,7.000000e+00,1.000000e+01,2.0,2.0,2.0,2.0,NaN,2.0,2.0
41476.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,NaN,NaN,NaN,1.0
41477.0,3.0,1.400000e+01,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.0,2.0,2.0,2.0,NaN,2.0,2.0
41478.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,1.0
41479.0,4.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.0,2.0,2.0,2.0,NaN,2.0,2.0

In [8]:
HSQ.isnull().sum()

HSD010     2951
HSQ470     2957
HSQ480     2958
HSQ490     2959
HSQ493     2960
HSQ496     2961
HSQ500      678
HSQ510      678
HSQ520      678
HSQ571     3524
HSQ580     9060
HSQ590     3524
HSAQUEX       0
dtype: int64

In [9]:
HSQ_filter = HSQ.filter(['HSD010','HSQ470','HSQ480','HSQ510'])

In [10]:
HSQ_filter.describe().T

,count,mean,std,min,25%,50%,75%,max
HSD010,6356.0,2.779264,0.999237,1.000000e+00,2.000000e+00,3.000000e+00,3.0,9.0
HSQ470,6350.0,3.967244,9.207682,5.397605e-79,5.397605e-79,5.397605e-79,3.0,99.0
HSQ480,6349.0,3.953693,8.854904,5.397605e-79,5.397605e-79,5.397605e-79,3.0,99.0
HSQ510,8629.0,1.909144,0.443200,1.000000e+00,2.000000e+00,2.000000e+00,2.0,9.0

In [11]:
HSQ_filter.describe().T.to_csv('HSQ_Select.csv')

In [12]:
HSQ_filter.reset_index()

         SEQN  HSD010        HSQ470        HSQ480  HSQ510
0     41475.0     3.0  9.000000e+00  5.000000e+00     2.0
1     41476.0     NaN           NaN           NaN     1.0
2     41477.0     3.0  1.400000e+01  5.397605e-79     2.0
3     41478.0     NaN           NaN           NaN     2.0
4     41479.0     4.0  5.397605e-79  5.397605e-79     2.0
5     41480.0     NaN           NaN           NaN     2.0
6     41481.0     1.0  5.397605e-79  5.397605e-79     2.0
7     41482.0     4.0  6.000000e+00  5.397605e-79     2.0
8     41483.0     4.0  5.397605e-79  5.397605e-79     2.0
9     41485.0     4.0  5.397605e-79  7.000000e+00     2.0
10    41486.0     3.0  5.397605e-79  5.397605e-79     2.0
11    41487.0     2.0  1.000000e+00  5.397605e-79     2.0
12    41488.0     NaN           NaN           NaN     1.0
13    41489.0     4.0  5.397605e-79  5.397605e-79     2.0
14    41490.0     3.0  5.397605e-79  5.397605e-79     2.0
15    41491.0     NaN           NaN           NaN     2.0
16    41492.0     2.0  5.397605e-79  5.397605e-79     2.0
17    41493.0     3.0  5.397605e-79  2.000000e+01     2.0
18    41494.0     3.0  5.397605e-79  3.000000e+00     2.0
19    41495.0     5.0  1.500000e+01  5.000000e+00     2.0
20    41496.0     1.0  1.400000e+01  4.000000e+00     1.0
21    41497.0     NaN           NaN           NaN     2.0
22    41498.0     4.0  5.397605e-79  5.397605e-79     2.0
23    41499.0     3.0  5.397605e-79  5.397605e-79     2.0
24    41500.0     2.0  4.000000e+00  3.000000e+00     1.0
25    41501.0     2.0  5.397605e-79  5.397605e-79     2.0
26    41502.0     3.0  5.000000e+00  6.000000e+00     1.0
27    41503.0     1.0  5.397605e-79  5.397605e-79     2.0
28    41504.0     3.0  5.397605e-79  1.000000e+01     2.0
29    41505.0     NaN           NaN           NaN     2.0
...       ...     ...           ...           ...     ...
9277  51590.0     1.0  5.397605e-79  5.397605e-79     2.0
9278  51591.0     NaN           NaN           NaN     NaN
9279  51592.0     5.0  3.000000e+01  3.000000e+01     2.0
9280  51593.0     3.0  1.600000e+01  1.500000e+01     2.0
9281  51594.0     3.0  5.397605e-79  5.397605e-79     2.0
9282  51596.0     4.0  5.397605e-79  5.397605e-79     2.0
9283  51597.0     NaN           NaN           NaN     2.0
9284  51599.0     NaN           NaN           NaN     2.0
9285  51600.0     NaN           NaN           NaN     2.0
9286  51601.0     NaN           NaN           NaN     2.0
9287  51603.0     NaN           NaN           NaN     NaN
9288  51604.0     2.0  5.397605e-79  2.000000e+00     2.0
9289  51606.0     3.0  5.397605e-79  5.397605e-79     2.0
9290  51607.0     NaN           NaN           NaN     2.0
9291  51608.0     3.0  5.397605e-79  5.397605e-79     2.0
9292  51609.0     4.0  1.000000e+00  1.400000e+01     1.0
9293  51610.0     4.0  5.397605e-79  3.000000e+01     2.0
9294  51611.0     3.0  1.400000e+01  5.397605e-79     2.0
9295  51612.0     NaN           NaN           NaN     2.0
9296  51613.0     4.0  4.000000e+00  1.000000e+00     2.0
9297  51614.0     3.0  1.500000e+01  1.500000e+01     2.0
9298  51615.0     NaN           NaN           NaN     NaN
9299  51616.0     4.0  5.397605e-79  5.397605e-79     2.0
9300  51617.0     4.0  3.000000e+00  3.000000e+01     2.0
9301  51618.0     3.0  3.000000e+01  2.000000e+00     2.0
9302  51619.0     4.0  5.397605e-79  5.397605e-79     2.0
9303  51620.0     2.0  5.397605e-79  7.000000e+00     2.0
9304  51621.0     3.0  5.397605e-79  5.397605e-79     2.0
9305  51622.0     2.0  5.397605e-79  5.397605e-79     2.0
9306  51623.0     5.0  3.000000e+01  5.397605e-79     2.0

[9307 rows x 5 columns]

In [11]:
HSQ_filter.to_csv('HSQ_Ques_filter.csv')

# Processing Column of HSQ

In [5]:
# HSD010 - General health condition
HSQ_reading1 = HSQ['HSD010']
print('HSQ_reading1 shape = ', HSQ_reading1.shape)
print(HSQ_reading1.head())
print(HSQ_reading1.describe())

HSQ_reading1 shape =  (9307,)
SEQN
41475.0    3.0
41476.0    NaN
41477.0    3.0
41478.0    NaN
41479.0    4.0
Name: HSD010, dtype: float64
count    6356.000000
mean        2.779264
std         0.999237
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         9.000000
Name: HSD010, dtype: float64

In [8]:
DIQ_reading1 = DIQ['DIQ010']
print('DIQ_reading1 shape = ', DIQ_reading1.shape)
print(DIQ_reading1.head())
print(DIQ_reading1.describe())

DIQ_reading1 shape =  (9666,)
SEQN
41475.0    2.0
41476.0    2.0
41477.0    1.0
41478.0    2.0
41479.0    2.0
Name: DIQ010, dtype: float64
count    9666.000000
mean        1.937099
std         0.364736
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         9.000000
Name: DIQ010, dtype: float64

In [6]:
print('HSQ_reading1 missing values =  ', HSQ_reading1.isnull().sum(), 'from ', HSQ_reading1.shape[0], 'observations')

HSQ_reading1 missing values =   2951 from  9307 observations

In [9]:
All_HSQ = pd.concat([HSQ_reading1,DIQ_reading1],axis=1)
print('All_HSQ shape = ', All_HSQ.shape)
print(All_HSQ.head())
All_HSQ.describe()

All_HSQ shape =  (9666, 2)
         HSD010  DIQ010
SEQN
41475.0     3.0     2.0
41476.0     NaN     2.0
41477.0     3.0     1.0
41478.0     NaN     2.0
41479.0     4.0     2.0

            HSD010       DIQ010
count  6356.000000  9666.000000
mean      2.779264     1.937099
std       0.999237     0.364736
min       1.000000     1.000000
25%       2.000000     2.000000
50%       3.000000     2.000000
75%       3.000000     2.000000
max       9.000000     9.000000

In [10]:
All_HSQ.to_csv('all_HSQ.csv')